:root {
  --green: #00d036;
  --purple: #7728f9;
  --charcoal: #2b2b2b;
}
@font-face {
  font-family: "Play";
  font-family: "Exo2-Light";
  src: url("./assets/css/fonts/Exo2-Light.otf");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Play", sans-serif;
  background-color: var(--charcoal);
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  margin: 0;
  padding: 10px;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
p {
  position: relative;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.top-line {
  background: linear-gradient(90deg, var(--purple), var(--green));
  height: 1px;
  width: 100%;
  position: absolute;
  z-index: 999;
}
.bottom-line {
  background: linear-gradient(90deg, var(--green), var(--purple));
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
  opacity: 1;
  transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  background: black;
}
.intro {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100vw;
}
.enter-website {
  color: white;
  font-size: 35px;
  letter-spacing: 11px;
  position: absolute;
  left: 7vw;
  bottom: 10vh;
  text-transform: uppercase;
  transition: 2.5s all;
  animation: blinker 3s linear infinite;
  text-shadow: 5px 4px 10px rgba(119, 40, 249, 0.8);
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent;
  padding: 75px;
  z-index: 1;
}
.enter-website:hover {
  opacity: 1;
  animation: none;
}
.mini-text {
  font-size: 20px;
  font-weight: 400;
}
.enter-website::before,
.enter-website::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: all 0.25s;
}
.draw::before,
.draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 27px;
  left: 22px;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.meet::after {
  top: -15px;
  left: -22px;
}
.meet:hover::before {
  border-top-color: white;
  border-right-color: white;
}
.meet:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  transition-property: height, width;
  transition-delay: 0s, 0.25s;
  transition-duration: 0.25s;
}
@keyframes blinker {
  60% {
    opacity: 0;
  }
}
.speaker-icon-audio-on:after {
  content: "audio off";
  position: absolute;
  font-size: 20px;
  color: white;
  font-weight: 400;
  display: block;
  position: relative;
  left: 80px;
  top: 8px;
  text-align: center;
  border-left: 5px solid var(--purple);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-left: 2px;
  padding: 0 12px;
  text-align: left;
}
.speaker-icon-audio-on.audio-on:after {
  content: "audio on";
  transition: 0.5s;
  border-left: 5px solid var(--green);
}
.speaker-icon-audio-on {
  width: 65px;
  height: 65px;
  display: inline-block;
  background: no-repeat url(../img/icon/sound-icon.gif);
  background-size: 150px;
  background-position: center;
  position: absolute;
  right: 8vw;
  top: 7vw;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 25%;
  border: 1px solid white;
}
.main-container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  z-index: 2;
  opacity: 0;
  display: none;
  transition: 0.5s;
}
.website-active {
  display: flex;
  opacity: 1;
}
.sidebar-container {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  left: 12%;
  z-index: 9999;
  width: 20%;
  flex-direction: column;
  transition: 1s;
  height: 104%;
  top: -2%;
  justify-content: center;
  text-align: right;
}
.sidebar-menu {
  margin-top: 30px;
}
.sidebar-item {
  position: relative;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  padding: 15px 30px;
  transition: 0.3s all;
}
.sidebar-item:hover {
  box-shadow: 0 0 10px #1eff4e, 0 0 30px #1eff4e, inset 0 0 10px #1eff4e,
    inset 0 0 30px #1eff4e;
  border: 4px solid #fff;
}

/* CONTENT */

.content-container {
  display: inline-block;
  height: 100%;
  position: relative;
}
.content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 17%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.title {
  display: flex;
  color: white;
  max-width: 330px;
  font-size: 110px;
  transform: rotate(-90deg);
  justify-self: center;
  align-self: center;
  text-shadow: 0 0 35px #113f42;
}
.title:after {
  content: attr(title);
  position: absolute;
  left: 13px;
  color: rgba(249, 40, 40, 0.8);
  z-index: -1;
}
.title:before {
  content: attr(title);
  position: absolute;
  left: 16px;
  color: rgba(179, 39, 222, 0.8);
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}
#events-section {
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-bar {
  width: 40%;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  height: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.slider-slot {
  display: flex;
  height: 5px;
  border: 2px solid #6a6e7c;
  flex: 1;
  margin: 0 3px;
  border-radius: 20px;
  cursor: pointer;
}
.slider-pod {
  position: absolute;
  left: 0;
  top: 0;
  height: 9px;
  border-radius: 20px;
  transition: 1s ease-in-out;
  background: #6a6e7c;
  background: #113f42;
}
.next {
  transform: rotate(180deg);
}
.controller {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
.previous {
  opacity: 0;
}
.controller svg {
  width: 70px;
  transition: 0.5s;
}
.controller svg:hover {
  transform: scale(1.2);
}
.controller svg:hover .controller svg g path {
  fill: #2b2b2b;
}
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex: 1;
  margin: 0 50px;
  max-height: 500px;
  overflow: hidden;
  flex-wrap: wrap;
}
.event {
  display: flex;
  width: 700px;
  border: 5px solid #012729e3;
  align-items: center;
  justify-items: center;
  margin: 10px;
  position: relative;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.78, -0.35, 0.51, 0.95);
}
.event:nth-child(even) {
  background: rgba(12, 12, 12, 0.1);
}
.event:nth-child(3n + 2) {
  left: 100px;
  transition-delay: 0.3s;
}
.event:nth-child(3n + 3) {
  left: 200px;
  transition-delay: 0.6s;
}
.event-details {
  background: #012729e3;
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  text-transform: capitalize;
}
.date {
  color: rgba(999, 999, 999, 0.3);
  border-right: 3px solid white;
  padding: 10px;
  padding-right: 25px;
}
.day {
  font-size: 2.2em;
}
.provincia {
  text-transform: uppercase;
}
.city,
.location,
.date {
  text-transform: capitalize;
  text-align: center;
}
.location {
  grid-column: 2;
  grid-row: span 2;
  justify-self: left;
  padding: 15px;
  font-size: 2.5em;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.6;
}
.logo-pic {
  max-width: 250px;
  padding: 10px;
  margin: auto;
  display: block;
  margin-top: 30px;
}
video {
  position: absolute;
  top: -7%;
  width: 100%;
  transition: 1s opacity;
  opacity: 0.2;
}

/*e-shop section*/

#e-shop-section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eshop-item-container {
  width: 200px;
  display: flex;
  position: relative;
  transition: 0.7s;
  overflow: hidden;
  flex-direction: column;
  margin: 0 10px;
  cursor: pointer;
}
.eshop-item-container:hover {
  position: relative;
  background: rgba(999, 999, 999, 0.2);
  border-radius: 25px;
}
.eshop-item-container img {
  width: 100%;
}
p.product-name {
  color: white;
  font-size: 25px;
  text-align: center;
}
.eshop-item-container img {
  width: 100%;
}
p.product-name {
  color: white;
  font-size: 25px;
  text-align: center;
}

/*social buttons*/

#social {
  padding: 30px;
}
.follow-us {
  color: white;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}
.follow-us:after {
  border-left: 6px solid TRANSPARENT;
  border-top: 6px solid WHITE;
  border-right: 6px solid transparent;
  content: "";
  height: 0px;
  max-height: 0px;
  position: relative;
  top: 25px;
  margin-left: 10px;
}
div#social ul {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 0px;
  overflow: hidden;
  transition: 1s;
  max-height: 300px;
}
div#social ul li {
  cursor: pointer;
  width: auto;
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}
div#social ul li p {
  margin-right: 20px;
  align-self: center;
}
div#social ul li p:after {
  content: "";
  width: 0px;
  height: 5px;
  display: inline-block;
  transform: skew(-35deg);
  transition: 1s;
  position: absolute;
  bottom: -5px;
  left: -2px;
}
div#social ul li:hover p:after {
  background: #eeee;
  width: 100%;
  z-index: -1;
}
div#social ul li img {
  height: 30px;
}
@media only screen and (max-width: 600px) {
  .sidebar-container {
    position: absolute;
  }
  h2 {
    color: red;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
