:root {
  --green: #00d036;
  --purple: #7728f9;
  --charcoal: #0a0a0a;
  --mainColor: #a05031;
}
@font-face {
  font-family: "Play";
  font-family: "Exo2-Light";
  src: url("./assets/css/fonts/Exo2-Light.otf");
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Play", sans-serif;
  background-color: var(--charcoal);
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: #2b2b2b;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--mainColor);
}
header {
  position: absolute;
}
::selection {
  color: white;
  background: var(--mainColor);
}
a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  margin: 0;
  padding: 10px;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
p {
  position: relative;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 1;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
  background: rgba(0, 0, 0, 0.4);
}
video {
  position: absolute;
  top: 50%;
  transition: 1s opacity;
  opacity: 0.2;
  width: 100%;
  transform: translateY(-50%);
}
.intro {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  transition: 0.5s;
}
.bigger-text {
  color: inherit;
  font-size: 35px;
  letter-spacing: 11px;
  text-transform: uppercase;
  transition: 2.5s all;
  animation: blinker 3s linear infinite;
  text-shadow: 5px 4px 10px rgba(119, 40, 249, 0.8);
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent;
  padding: 75px 50px;
  z-index: 1;
}
.enter-website {
  position: absolute;
  bottom: 8vh;
  left: 5vw;
  color: white;
  font-size: 35px;
  letter-spacing: 11px;
  text-transform: uppercase;
  transition: 2.5s all;
  animation: blinker 3s linear infinite;
  text-shadow: 5px 4px 10px rgba(119, 40, 249, 0.8);
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px transparent;
  padding: 75px 50px;
  z-index: 1;
}
.enter-website:hover {
  opacity: 1;
  animation: none;
}
.mini-text {
  font-size: 20px;
  font-weight: 400;
}
.enter-website::before,
.enter-website::after {
  position: absolute;
  box-sizing: inherit;
  content: "";
  width: 100%;
  height: 100%;
}
.draw {
  transition: all 0.25s;
}
.draw::before,
.draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 27px;
  left: 22px;
}
.draw::after {
  right: 0;
  bottom: 0;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.meet::after {
  top: -15px;
  left: -22px;
}
.meet:hover::before {
  border-top-color: white;
  border-right-color: white;
}
.meet:hover::after {
  border-bottom-color: white;
  border-left-color: white;
  transition-property: height, width;
  transition-delay: 0s, 0.25s;
  transition-duration: 0.25s;
}
@keyframes blinker {
  60% {
    opacity: 0;
  }
}
.speaker-icon-audio-on:after {
  display: block;
  position: absolute;
  position: relative;
  top: 8px;
  left: 80px;
  content: "audio off";
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
  border-left: 5px solid var(--purple);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 2px;
  padding: 0 12px;
  text-align: left;
}
.speaker-icon-audio-on.audio-on:after {
  content: "audio on";
  transition: 0.5s;
  border-left: 5px solid var(--green);
}
.speaker-icon-audio-on {
  display: inline-block;
  position: absolute;
  top: 7vw;
  right: 8vw;
  width: 65px;
  height: 65px;
  background: no-repeat url(../img/icon/sound-icon.gif);
  background-size: 150px;
  background-position: center;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 25%;
  border: 1px solid white;
}
#news {
  position: absolute;
  top: 50%;
  right: 0;
  width: 70%;
  transform: translateY(-50%) scale(0.9);
}
#news .content {
  align-items: center;
  align-content: space-between;
}
iframe {
  border: 0;
  margin: 50px 0;
}
.main-container {
  display: flex;
  display: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}
.website-active {
  display: flex;
  opacity: 1;
}
.sidebar-container {
  display: flex;
  position: sticky;
  top: 50px;
  z-index: 9999;
  flex-direction: column;
  transition: 1s;
  height: 94vh;
  min-height: 500px;
  justify-content: center;
  margin-left: 50px;
  text-align: right;
  flex-basis: 14%;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.sidebar-item {
  position: relative;
  border: 4px solid transparent;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  padding: 15px 30px;
  transition: 0.3s all;
  white-space: nowrap;
}
.neon:hover {
  box-shadow: 0 0 10px var(--mainColor), 0 0 30px var(--mainColor),
    inset 0 0 10px var(--mainColor), inset 0 0 30px var(--mainColor);
  border: 4px solid #fff;
}
.selector-active {
  box-shadow: 0 0 10px var(--mainColor), 0 0 30px var(--mainColor),
    inset 0 0 10px var(--mainColor), inset 0 0 30px var(--mainColor);
  border: 4px solid #fff;
}

/* CONTENT */

.content-container {
  display: inline-block;
  position: relative;
  flex-basis: 80%;
}
.section-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 50px 0;
  min-height: 600px;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  margin: 50px 20px;
  overflow: hidden;
}
.section-wrapper:last-child {
  margin-bottom: 100px;
}
.title {
  display: flex;
  position: relative;
  top: 50px !important;
  color: white;
  padding: 10px 20px;
  max-width: 330px;
  font-size: 110px;
  transform: rotate(-90deg);
  justify-self: center;
  align-self: center;
  text-shadow: 0px 1px transparent;
  transition: 0.5s top ease-out, 0.9s opacity ease-in 0s,
    0.5s ease-out box-shadow 0.4s, text-shadow 0.5s 0.8s;
  white-space: nowrap;
  opacity: 0;
}
.news-title {
  top: 0px;
  opacity: 1;
}
.title-active {
  top: 0px !important;
  opacity: 1;
  text-shadow: 7px 1px var(--mainColor);
  box-shadow: inset 100px 0px 0px var(--mainColor);
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
  flex-basis: 85%;
}
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.slider-bar {
  display: flex;
  position: relative;
  width: 40%;
  margin: 50px auto;
  border-radius: 10px;
  height: 3px;
  overflow: hidden;
  flex-direction: row;
}
.slider-slot {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(47, 47, 47, 0.9);
  flex: 1;
  margin: 0 3px;
  border-radius: 20px;
  cursor: pointer;
  background: rgba(12, 12, 12, 0.9);
}
.slider-pod {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  transition: 1s ease-in-out;
  background: var(--mainColor);
}
.next {
  transform: rotate(180deg);
}
.controller {
  height: 75px;
  width: 75px;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
.previous {
  opacity: 0;
}
.controller svg {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  fill: #6a6e7c;
}
.controller svg use {
  fill: inherit;
}
.controller:hover svg {
  transform: scale(1.4);
  fill: var(--mainColor);
}
.events {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  margin: 10px 20px;
  max-height: 500px;
  overflow: hidden;
  flex-wrap: wrap;
  cursor: grab;
}
.events:after {
  position: absolute;
  top: -50%;
  left: 50%;
  content: "2019";
  font-size: 300px;
  color: #cccccc38;
  opacity: 0.4;
  z-index: 0;
  transform: rotate(-15deg) skew(-15deg) translate(-50%, 50%);
}
.event {
  display: flex;
  position: relative;
  width: 630px;
  background: rgba(12, 12, 12, 0.4);
  align-items: center;
  justify-items: center;
  margin: 10px;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.78, -0.35, 0.51, 0.95);
  overflow: hidden;
}
.event:after {
  display: flex;
  /* content: ""; */
  position: absolute;
  top: 5px;
  right: -9%;
  font-size: 1.8em;
  color: white;
  z-index: -1;
  text-align: center;
  vertical-align: middle;
  justify-self: center;
  align-self: center;
  width: 21%;
  height: 120%;
  background: #012729;
  box-shadow: inset 20px -20px 0 20px var(--mainColor);
  transform: rotate(45deg);
}
.event:nth-child(3n + 2) {
  left: 80px;
  transition-delay: 0.3s;
}
.event:nth-child(3n + 3) {
  left: 160px;
  transition-delay: 0.6s;
}
.event-details {
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  text-transform: capitalize;
  color: rgba(999, 999, 999, 0.8);
}
.date {
  color: rgba(999, 999, 999, 0.8);
  border-right: 3px solid var(--mainColor);
  padding: 10px;
  padding-right: 25px;
}
.day {
  font-size: 2.2em;
}
.provincia {
  text-transform: uppercase;
}
.city {
  padding-left: 25px;
  font-size: 1.2em;
  white-space: nowrap;
}
.city,
.location,
.date {
  text-transform: capitalize;
  text-align: center;
}
.location {
  padding: 15px;
  font-size: 2.5em;
  text-indent: 0.3em;
  text-shadow: 3px 1px var(--mainColor), 3px 1px rgba(179, 39, 222, 0.8);
}
.logo {
  margin: 50px;
}
.logo-pic {
  display: block;
  max-width: 250px;
  padding: 10px;
}

/*e-shop section*/

#e-shop-section .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eshop-item-container {
  display: flex;
  position: relative;
  position: relative;
  transform-style: preserve-3d;
  flex-direction: column;
  transition: 0.5s;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, #ff008a 0%, #101c25 100%);
  background: rgba(12, 12, 12, 0.4);
}
.eshop-item-container:hover {
  z-index: 9;
  box-shadow: 3px 3px 0px #403636, 5px 5px 0px #0b0b0c;
  transform: translateY(-20px) translateX(-20px) scale(1.15);
}
.eshop-item-container:nth-child(n + 3):hover {
  box-shadow: -3px 3px 0px #403636, 5px 5px 0px #0b0b0c;
  transform: translateY(-20px) translateX(20px) scale(1.15);
}
.eshop-item-container img {
  width: 100%;
  transition: 0.5s 0.1s all;
}
p.product-name {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  transition: 0.5s 0.1s all;
  text-shadow: 2px 1px 0px var(--mainColor);
}
.eshop-item-container:hover img,
.eshop-item-container:hover p.product-name {
  transform: translateZ(50px);
}
.SprdMain .sprd-listpage {
  background: var(--charcoal) !important;
}
#gallery-section .content {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#gallery-section .content img {
  width: 400px;
  height: 300px;
  margin: 20px;
}
.gallery-pictures {
  flex-direction: row;
  display: flex;
  max-width: 800px;
  overflow: hidden;
}

/*social buttons*/

#social {
  padding: 30px;
}
.follow-us {
  color: white;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
}
.follow-us:after {
  position: relative;
  top: 25px;
  border-left: 6px solid transparent;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  content: "";
  height: 0px;
  max-height: 0px;
  margin-left: 10px;
}
div#social ul {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  transition: 1s;
  max-height: 300px;
  margin-top: 15px;
}
div#social ul li {
  display: flex;
  cursor: pointer;
  width: auto;
  list-style-type: none;
  margin: 10px 0;
  justify-content: end;
  flex-direction: row-reverse;
}
div#social ul li p {
  margin-right: 20px;
  align-self: center;
}
div#social ul li p:after {
  display: inline-block;
  position: absolute;
  bottom: -6px;
  left: -2px;
  content: "";
  width: 0px;
  height: 5px;
  transform: skew(-35deg);
  transition: 0.5s;
}
div#social ul li:hover p:after {
  background: #eeee;
  width: 100%;
  z-index: -1;
}
div#social ul li img {
  height: 30px;
}
#booking-section .content {
  flex-direction: row;
  justify-content: space-evenly;
}
.business-card {
  display: flex;
  position: relative;
  color: white;
  overflow: hidden;
  width: 425px;
  height: 300px;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  font-size: 40px;
  align-items: flex-end;
  border-radius: 30px;
  box-sizing: border-box;
  border-top: 5px solid var(--mainColor);
  border-bottom: 5px solid var(--mainColor);
  background-color: var(--charcoal);
}
.business-card img {
  width: 100%;
  -webkit-user-drag: none;
}
.contact {
  justify-self: flex-end;
  padding: 35px 20px;
  font-size: 42px;
  letter-spacing: 2.4px;
  background: var(--charcoal);
  height: 25%;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  user-select: text;
}
.business-card img {
  width: 100%;
  box-sizing: border-box;
  background: #0a0a0a;
}
.business-card:before {
  position: absolute;
  right: -14%;
  bottom: -69%;
  content: "";
  width: 48%;
  height: 100%;
  transform: rotate(55deg);
  box-shadow: -4px -3px 14px 4px var(--mainColor);
  background: rgba(999, 999, 999, 0.5);
}
.info {
  margin-right: 20px;
  padding: 30px;
  line-height: 1.4;
  text-align: right;
  padding-bottom: 20px;
  font-size: 0.7em;
}
.info p {
  user-select: text;
  text-shadow: 2px 2px 2px var(--mainColor);
}

/* medium screen resolution */

@media only screen and (max-width: 1600px) {
  .sidebar-container {
    top: 0;
    height: 100vh;
  }
  .sidebar-item,
  .follow-us {
    font-size: 1.5em;
  }
  .section-wrapper {
    min-height: 450px;
  }
  .follow-us:after {
    top: 23px;
  }
  div#social ul li {
    font-size: 0.8em;
  }
  div#social ul li p {
    margin-right: 10px;
  }
  div#social ul li img {
    height: 22px;
  }
  .sidebar-item {
    padding: 10px 15px;
  }
  #social {
    padding: 15px;
  }
  .event {
    width: 500px;
  }
  .event:nth-child(3n + 2) {
    left: 80px;
    transition-delay: 0.3s;
  }
  .event:nth-child(3n + 3) {
    left: 160px;
    transition-delay: 0.6s;
  }
  .title {
    font-size: 90px;
    max-width: 275px;
  }
  .date {
    font-size: 1.2em;
  }
  .day {
    font-size: 2em;
  }
  .city {
    font-size: 1.2em;
  }
  .location {
    font-size: 2em;
  }
  .content-wrapper:first-child {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 1366px) {
  iframe {
    height: 50%;
    width: 100%;
  }
  .sidebar-container {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
  }
  #news {
    width: 70%;
    margin: auto;
    height: 80vh;
  }
  #news .news-title {
    top: 0px !important;
  }
  .content {
    margin: 0;
  }
  .title {
    top: -50px !important;
    transform: rotate(0deg);
    font-size: 70px;
  }
  .title-active {
    top: 0px !important;
    opacity: 1;
    box-shadow: inset 80px 0px 0px var(--mainColor);
  }
  .section-wrapper {
    display: flex;
    margin: 40px 0;
    flex-direction: column;
    justify-content: center;
  }
  section .content {
    width: 90%;
    margin: 40px auto;
    flex-basis: auto;
  }
  .events {
    max-height: 400px;
  }
  .events:after {
    transform: rotate(-15deg) skew(-15deg) translate(-50%, 24%);
  }
  .event {
    width: 450px;
  }
  .event:nth-child(3n + 2) {
    left: 80px;
    transition-delay: 0.3s;
  }
  .event:nth-child(3n + 3) {
    left: 160px;
    transition-delay: 0.6s;
  }
  .date {
    font-size: 1em;
  }
  .day {
    font-size: 1.7em;
  }
  .city {
    font-size: 1em;
  }
  .location {
    font-size: 1.7em;
  }
  .slider-bar {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 800px) {
}

/* testing ground */
