@charset "UTF-8";
:root {
  --main-color: #ff5d5d;
  --sec-color: white;
  --dark: #0a0a0a;
  --transparent-dark: rgba(0, 0, 0, 0.4);
  --transparent-darker: rgba(0, 0, 0, 0.9);
  --dark-grey: rgba(47, 47, 47, 0.9);
  --sec-color-2: #6a6e7c;
  --color-option-1: #ff3b3b;
  --color-option-2: #ff6138;
  --color-option-3: #38ff59;
  --color-option-4: #3be4ff;
  --color-option-5: #0f7ea3;
  --color-option-6: #9656f5;
  --color-option-7: #ff006a;
}

* {
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Play", sans-serif;
  background-color: var(--dark);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
  background-color: #2b2b2b;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: var(--main-color);
}

html {
  font-size: calc(4px + 0.30834vw);
}

header {
  position: fixed;
  z-index: 99999;
  left: 85px;
  top: 65px;
}

header .logo-container {
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px var(--main-color));
  transition: filter 0.5s;
}

header .logo-container img {
  max-width: 20rem;
}

header .burger-menu-icon {
  display: none;
}

::selection {
  color: white;
  background: var(--main-color);
}

a,
p,
span {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  margin: 0;
  padding: 10px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

label,
a,
p,
span {
  font-size: 2rem;
}

p {
  position: relative;
  margin: 0;
}

b {
  color: var(--main-color);
  font-size: 4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.new-badge:after {
  content: "NEW";
  right: 0;
  top: 0%;
  position: absolute;
  font-size: 2rem;
  transform: rotate(0deg);
  background: var(--main-color);
  padding: 1rem 2rem;
  display: flex;
  border: 2px solid var(--main-color);
  animation: blinker 5s infinite;
  border-radius: 10px 0px 10px 50%;
  justify-content: center;
  align-items: center;
}

.info-modal .vertical-card {
  justify-self: center;
  align-self: center;
  margin: auto;
  width: auto;
  padding: 5rem 3rem;
  background: black;
  border: 1px solid var(--main-color);
  max-width: 80%;
}

.info-modal .vertical-card .cta-wrapper {
  display: flex;
}

.info-modal .vertical-card .cta-button {
  width: auto;
  margin-top: 8rem;
}

.info-modal .card-column {
  width: 100%;
  padding: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  opacity: 0;
  z-index: 99999;
  overflow: hidden;
  transition: all 0.7s, opacity 0.7s 0.2s;
}

.modal .backdrop {
  height: 100%;
  width: 100%;
  background: var(--transparent-darker);
  position: absolute;
  top: 0;
  left: 0;
}

.modal .controller {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}

.modal .close-button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: var(--sec-color-2);
  top: 5rem;
  right: 5rem;
  z-index: 1;
  transition: 0.5s;
  cursor: pointer;
}

.modal .close-button:hover {
  background: var(--main-color);
}

.modal .close-button:after, .modal .close-button:before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 90%;
  left: 50%;
  background: white;
  transform-origin: center center;
}

.modal .close-button:before {
  transform: translate(-50%, 5%) rotate(-45deg);
}

.modal .close-button:after {
  transform: translate(-50%, 5%) rotate(45deg);
}

.modal .previous {
  left: -12rem;
  opacity: 1;
  pointer-events: all;
}

.modal .next {
  transform: rotate(180deg) translate(50%, 50%);
  right: -12rem;
}

.modal .carousel {
  box-sizing: content-box;
  width: 70%;
  margin: auto;
  height: 70%;
  background-color: var(--transparent-dark);
  display: flex;
}

.modal .carousel img {
  transition: opacity 0.9s 0.5s, transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99) 1.4s, left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.5s;
  position: absolute;
  max-width: 100%;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%) scale(0.7);
  z-index: 1;
  opacity: 0;
}

.modal .carousel .from-left {
  left: -150%;
}

.modal .carousel .from-right {
  left: 150%;
}

.modal .carousel .slide-in {
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.modal .carousel .slide-out-from-right {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  left: -150%;
  z-index: 2;
  transition: opacity 0.9s 0.9s, transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99), left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.7s;
}

.modal .carousel .slide-out-from-left {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
  left: 150%;
  z-index: 2;
  transition: opacity 0.9s 0.9s, transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99), left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.7s;
}

.first-mask,
.second-mask,
.third-mask {
  display: none !important;
  position: fixed;
  padding: 0 50px;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(120%);
  transition: 1.3s cubic-bezier(0, 1, 1, 0) 0.2s;
}

.first-mask {
  transition-duration: 1.8s;
  background: var(--dark);
}

.second-mask {
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-mask h1 {
  color: white;
  font-size: 12rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  transform: rotate(0deg);
  transition: letter-spacing 1.2s cubic-bezier(0, 1, 1, 0) 0.5s;
}

.second-mask h1:before, .second-mask h1:after {
  white-space: nowrap;
  font-size: inherit;
}

.second-mask h1:before {
  content: "<<<";
}

.second-mask h1:after {
  content: ">>>";
}

.third-mask {
  background: white;
  transition-duration: 1s;
  transition-delay: 0.7s;
}

.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 1;
  transition: 1s;
  background: var(--dark-grey);
}

video {
  position: absolute;
  top: 50%;
  transition: 1s opacity;
  opacity: 0.1;
  width: 100%;
  transform: translateY(-50%);
}

.laser-animation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  align-self: flex-end;
  justify-self: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5rem;
  z-index: 1;
}

.laser-animation-container span {
  position: absolute;
}

.laser-animation-container span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  animation: leftToRight 5s ease-in infinite, colorChange-l2r 10s ease-in infinite;
}

.laser-animation-container span:nth-child(2) {
  top: 0;
  right: 0;
  width: 2px;
  transform: translateY(-101%);
  height: 100%;
  animation: topToBottom 5s ease-in infinite, colorChange-t2b 10s ease-in infinite;
}

.laser-animation-container span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateX(101%);
  height: 2px;
  animation: rightToLeft 5s ease-in infinite, colorChange-r2l 10s ease-in infinite;
}

.laser-animation-container span:nth-child(4) {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  transform: translateY(101%);
  animation: bottomToTop 5s ease-in infinite, colorChange-b2t 10s ease-in infinite;
}

.section-title {
  font-size: 5rem;
  text-transform: uppercase;
  animation: 5.5s pulse infinite;
  padding: 1rem 3rem;
  text-align: center;
}

.section-subtitle {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 2rem;
  text-align: center;
}

.section-subtitle .medium-text {
  text-align: center;
  padding: 2rem;
}

.section-subtitle .medium-text:after {
  display: none;
}

.main-container {
  display: flex;
  display: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.website-active {
  display: flex;
  opacity: 1;
}

.sidebar-container {
  display: flex;
  position: sticky;
  box-sizing: border-box;
  top: 0px;
  height: 100vh;
  z-index: 9999;
  flex-direction: column;
  transition: 0.7s;
  min-height: 500px;
  justify-content: center;
  margin-left: 1rem;
  text-align: right;
  flex-basis: 16%;
  background: var(--transparent-dark);
  min-width: 25rem;
}

.sidebar-logo {
  margin: 5rem;
  margin-bottom: 3rem;
  opacity: 0;
  transition: 0.3s 0.1s;
  cursor: pointer;
}

.sidebar-logo img {
  width: 100%;
}

.sidebar-item {
  position: relative;
  border: 4px solid transparent;
  font-size: 3.2rem;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  padding: 1.5rem 3rem;
  transition: 0.3s all;
  white-space: nowrap;
  cursor: pointer;
}

.neon:hover {
  box-shadow: 0 0 10px var(--main-color), 0 0 30px var(--main-color), inset 0 0 10px var(--main-color), inset 0 0 30px var(--main-color);
  border: 4px solid #fff;
}

.selector-active {
  box-shadow: 0 0 10px var(--main-color), 0 0 30px var(--main-color), inset 0 0 10px var(--main-color), inset 0 0 30px var(--main-color);
  border: 4px solid #fff;
}

/* CONTENT */
.content-container {
  display: inline-block;
  position: relative;
  flex-basis: 80%;
}

.section-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 50px 0;
  min-height: 80vh;
  background: var(--transparent-dark);
  transition: 0.5s;
  margin: 50px 20px;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 99vw;
}

.section-wrapper:last-child {
  margin-bottom: 50px;
}

.section-name {
  display: flex;
  position: relative;
  writing-mode: vertical-lr;
  top: 50px;
  color: white;
  padding: 1rem 2rem;
  margin-block: 5rem;
  max-width: 330px;
  font-size: 9rem;
  transform: rotate(-180deg);
  justify-self: center;
  align-self: center;
  text-shadow: 0px 1px transparent;
  transition: 0.5s top ease-out, 0.9s opacity ease-in 0s, 0.5s ease-out box-shadow 0.4s, text-shadow 0.5s 0.8s;
  white-space: nowrap;
  opacity: 0;
  z-index: 1;
}

.section-name-active {
  top: 0px;
  opacity: 1;
  text-shadow: 0px 7px var(--main-color);
  box-shadow: inset 0px 8rem 0px var(--main-color);
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
  flex-basis: 85%;
  max-width: 95vw;
}

.section-container-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}

.section-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 2rem;
}

.vertical-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 3.3rem;
  background: var(--transparent-dark);
  padding: 4rem 0rem;
  transition: 0.5s;
}

.alien-trax-container {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

#alien-trax {
  overflow: auto;
}

#alien-trax .form-segment-wrapper {
  z-index: 9999;
  width: fit-content;
  margin-left: auto;
  max-width: 100%;
}

#alien-trax .form-segment-wrapper .form-segment {
  margin: 0;
  min-width: 110px;
  box-shadow: none;
  border: none;
  flex-basis: auto;
}

#alien-trax label[for="date-filter"] {
  margin-bottom: 45px;
}

#alien-trax select {
  outline: none;
  background: transparent;
  color: white;
  padding: 10px;
  border: 1px solid #6a6e7c;
  overflow-y: visible !important;
  position: absolute;
  width: 70%;
  z-index: 3;
  cursor: pointer;
}

#alien-trax select:focus {
  top: 50%;
}

#alien-trax option {
  color: white;
  background-color: transparent;
  padding: 5px;
}

#alien-trax option:hover, #alien-trax option:checked {
  background: var(--main-color) !important;
  box-shadow: inset 0px 0px 100px var(--main-color);
}

#alien-tracklist .vertical-card {
  width: calc(50% - 1rem);
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 3.3rem;
  background: var(--transparent-dark);
  padding: 4rem;
  margin: 1rem 0;
  align-items: center;
  transition: 0.5s;
}

.card-column {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
}

.main-detail {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid var(--main-color);
  z-index: 0;
  min-width: 50%;
}

.text-underline:after {
  content: "";
  background: var(--main-color);
  height: 12rem;
  width: 300%;
  top: 122%;
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: skew(-45deg);
}

.big-text {
  font-size: 6rem;
  text-transform: capitalize;
}

.medium-text {
  font-size: 3rem;
  text-align: left;
}

.small-text {
  font-size: 2.3rem;
}

.xs-text {
  font-size: 1.7rem;
}

.accent-text {
  color: var(--main-color);
  font-weight: 800;
}

.note {
  padding: 0 1.3rem;
}

.note:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  content: "*";
  color: var(--main-color);
}

.track-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}

.track-container:before {
  content: "";
  position: absolute;
  background: var(--main-color);
  margin-right: 1rem;
  text-align: center;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.track {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  transition: 1.5s;
  margin: 1rem 0 1rem 2rem;
}

.track:hover {
  overflow: inherit;
  text-overflow: initial;
  text-indent: -30%;
}

.cta-button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 5rem;
  margin: auto;
  border: 2px solid var(--main-color) !important;
  cursor: pointer;
  transition: 1s;
  font-family: play;
  font-weight: 100;
  color: var(--sec-color);
  background: var(--dark);
  font-size: 3.2rem;
  white-space: nowrap;
  outline: none;
  text-align: center;
}

.cta-button:hover {
  background: var(--main-color);
  color: #fff;
}

.cta-button img {
  width: 100%;
}

.main-color {
  color: var(--main-color);
}

.secondary-text-color {
  color: var(--sec-color-2);
}

.opacity-flash {
  animation: opacityFlash 1.5s;
}

.controller {
  height: 7.5rem;
  width: 7.5rem;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

.previous {
  opacity: 0.3;
  pointer-events: none;
}

.next {
  transform: rotate(180deg);
}

.controller svg {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  fill: var(--sec-color-2);
}

.controller svg use {
  fill: inherit;
}

.controller:hover svg {
  transform: scale(1.4);
  fill: var(--main-color);
}

.news-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--transparent-dark);
  transition: 0.5s;
  min-height: 100vh;
}

.news-wrapper #news {
  position: relative;
  width: 80%;
  margin: 8rem auto;
}

.news-wrapper #news:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/news/musica-che-sposta-2.jpg);
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
  z-index: 0;
  opacity: 0.1;
  background-position: 0 10%;
  top: 0;
  background-repeat: no-repeat;
}

.content {
  margin-top: 0;
  align-items: center;
  align-content: space-between;
  z-index: 1;
}

.content .news-details {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.content .news-main-content {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  margin: 2rem 0;
}

.content .news-main-content .news-image-container {
  width: 50%;
}

.content .news-main-content .news-image-container img {
  width: 100%;
}

.content .news-main-content .news-cta-container {
  display: -ms-flexbox;
  overflow: hidden;
  display: flex;
  color: white;
  font-size: 3.3rem;
  background: var(--transparent-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  padding: 1rem;
  flex-direction: row;
}

.content .news-main-content .news-cta-container:hover .news-cta-text-wrapper:after {
  left: -1.5rem;
  transition: 0.5s 0.3s;
}

.content .news-main-content .news-cta-container:hover .news-cta-text-wrapper:before {
  transition: 0.5s;
  left: -4rem;
  box-shadow: -5px 10px 0px 0 white;
}

.content .news-main-content .news-cta-container .news-cta-icon {
  display: flex;
}

.content .news-main-content .news-cta-container .news-cta-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2rem;
  max-width: 10rem;
  transition: 0.5s;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper {
  height: 100%;
  width: 60%;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper:after {
  content: "";
  height: 301%;
  width: 500%;
  position: absolute;
  background: #222222;
  transform: skew(-25deg);
  top: -36px;
  left: 0px;
  transition: 0.5s 0.3s;
  z-index: 0;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper:before {
  content: "";
  height: 300%;
  width: 20px;
  background: var(--main-color);
  position: absolute;
  transform: skew(-25deg);
  left: -20px;
  transition: 0.5s;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper:hover:after {
  left: -15px;
  transition: 0.5s 0.3s;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper:hover:before {
  transition: 0.5s;
  left: -40px;
  box-shadow: -5px 10px 0px 0 white;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper .news-cta-text {
  color: white;
  position: relative;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  width: 100%;
  white-space: nowrap;
  text-align: right;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .news-main-content .news-cta-container .news-cta-text-wrapper .news-cta-text p {
  font-size: 2.2rem;
  font-weight: 800;
  white-space: nowrap;
  color: var(--main-color);
}

.ticket .news-image-container {
  width: 35%;
}

.ticket .news-details p,
.ticket .news-details span,
.ticket .news-details label {
  margin: 0;
}

.conditions {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 0.35rem;
}

.conditions .condition {
  margin-top: 10px;
}

.conditions .condition input,
.conditions .condition label {
  cursor: pointer;
}

.conditions .condition label {
  margin-left: 8px;
}

.special-tracks {
  padding: 3rem 1rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: flex-start;
}

#news .content .special-tracks .news-details {
  flex-direction: row;
  width: 100%;
  margin-left: 0;
}

#news .content .special-tracks .news-details .form-segment {
  flex-direction: row;
}

#news .content .special-tracks .news-details .form-segment .input-wrapper {
  overflow: hidden;
}

.icon-container {
  top: 0px;
}

.icon-container:after {
  content: "";
  width: 70%;
  height: 3px;
  background: var(--sec-color);
  position: absolute;
  left: 10px;
  bottom: -5px;
  transition: 0.4s;
}

.icon-container:hover:after {
  background: var(--main-color);
}

.icon-container svg {
  transform: scale(1) rotate(-90deg) rotateX(-150deg);
  fill: var(--sec-color);
  animation: download 2s infinite linear;
}

.icon-container:hover svg {
  fill: var(--main-color);
  transform: scale(1.5) rotate(-90deg) rotateX(-150deg);
}

.info-text {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
}

#events .content {
  width: 100%;
}

#events .slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#events .slider-bar {
  display: flex;
  position: relative;
  width: 60%;
  margin: 5rem auto;
  border-radius: 10px;
  height: 3px;
  flex-direction: row;
}

#events .slider-slot {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
  margin: 0 3px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--dark-grey);
}

#events .slider-slot:hover {
  background: var(--main-color);
  filter: grayscale(1);
}

#events .slider-slot:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 50px;
  width: 100%;
  transform: translateY(-50%);
}

#events .slider-slot:nth-child(2) {
  margin-left: 0;
}

#events .slider-slot:last-child {
  margin-right: 0;
}

#events .slider-pod {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  transition: 1.6s ease-in-out;
  background: var(--main-color);
  z-index: 1;
}

#events .slider-pod .period .year,
#events .slider-pod .period .months {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.9rem;
  width: auto;
  white-space: nowrap;
}

#events .slider-pod .period .year {
  top: 0.7rem;
  color: var(--main-color);
}

#events .slider-pod .period .months {
  top: -2.8rem;
  color: white;
  text-transform: capitalize;
}

#events .events {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  margin: 1rem 2rem;
  max-height: 55rem;
  overflow: hidden;
  flex-wrap: wrap;
}

#events .events .event {
  display: flex;
  position: relative;
  width: 60rem;
  background: var(--transparent-dark);
  align-items: center;
  justify-items: center;
  margin: 1rem;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.78, -0.35, 0.51, 0.95);
}

#events .events .event:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--dark);
  margin-left: 2rem;
  z-index: -1;
  transform: translateX(100%);
  transition: 0.5s;
  opacity: 0.2;
}

#events .events .event:nth-child(3n + 2) {
  left: 8rem;
  transition-delay: 0.3s;
}

#events .events .event:nth-child(3n + 3) {
  left: 16rem;
  transition-delay: 0.6s;
}

#events .events .event .event-details {
  display: flex;
  flex-basis: 25%;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

#events .events .event .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  border-right: 3px solid var(--main-color);
  padding: 1rem;
  padding-right: 2.5rem;
}

#events .events .event .day {
  font-size: 5rem;
}

#events .events .event .month {
  font-size: 3rem;
  color: var(--sec-color-2);
}

#events .events .event .provincia {
  text-transform: uppercase;
}

#events .events .event .city {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  font-size: 1.9rem;
}

#events .events .event .city,
#events .events .event .location,
#events .events .event .date {
  text-transform: capitalize;
  text-align: center;
}

#events .events .location-wrapper {
  font-size: 3rem;
  width: 100%;
  overflow: hidden;
  text-indent: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
}

#events .events .location-wrapper .location-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  min-width: 70%;
}

#events .events .location-wrapper .location-container * {
  padding: 0;
}

#events .events .location-wrapper .city * {
  color: var(--sec-color-2);
}

#events .events .location-wrapper h3 {
  font-size: inherit;
}

#events .events .location-wrapper span {
  color: var(--dark-grey);
}

#events .events .cancelled:before {
  position: absolute;
  left: 0;
  content: "cancellato 💀 corona virus";
  background: var(--main-color);
  color: white;
  font-size: 3.5rem;
  animation: opacityFlash 10s infinite;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999;
  opacity: 1;
  text-transform: uppercase;
  padding: 0 2rem;
  box-sizing: border-box;
  white-space: nowrap;
  animation-delay: inherit;
}

#events .events .cancelled .location-wrapper h3:after {
  content: "";
  position: absolute;
  background: var(--main-color);
  width: 100%;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#events .events .next-event .location-container span {
  color: var(--main-color);
}

.trax-section-header {
  margin-bottom: 3rem;
}

/*e-shop section*/
#eshop .content {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}

#eshop .content .items-details {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

#eshop .content .items-details .items-category {
  font-size: 6.4rem;
  text-align: center;
  white-space: nowrap;
}

#eshop .content .items-details form {
  text-align: center;
}

#eshop .content a {
  display: inline-block;
  text-align: center;
}

#eshop .content .category-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background: var(--transparent-dark);
  justify-content: space-around;
  padding: 5rem 0rem;
  margin: 2rem;
  overflow: hidden;
  width: 100%;
}

#eshop .content .category-container:nth-child(even) {
  flex-direction: row-reverse;
}

#eshop .content .category-container:after {
  position: absolute;
  top: -32rem;
  right: -38%;
  width: 90%;
  height: 220%;
  z-index: 0;
  opacity: 1;
  background: var(--main-color);
  transform: rotate(-10deg);
}

#eshop .content .category-container .items-images-wrapper,
#eshop .content .category-container .items-details {
  z-index: 1;
  margin: 3rem 5rem;
}

#eshop .content .category-container .items-images-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 45%;
  padding: 0 4rem;
  justify-content: center;
}

#eshop .content .category-container .items-images-wrapper .item-image {
  display: flex;
  position: relative;
  border-radius: 25px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0 -5rem;
}

#eshop .content .category-container .items-images-wrapper .item-image img {
  max-width: 45rem;
  height: 22rem;
  transition: 0.5s 0.1s all, 0.9s filter;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container {
  display: block;
  margin-bottom: 2rem;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-text {
  color: white;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons {
  display: flex;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons label {
  flex-basis: 50%;
  height: 4rem;
  line-height: 4rem;
  border: 1px solid;
  transition: 0.3s all, color 2s, box-shadow 2s;
  cursor: pointer;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input {
  display: none;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#white-bracelet + label {
  border-color: white;
  color: white;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#golden-bracelet + label {
  border-color: #796525;
  color: #796525;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#white-bracelet:hover + label {
  box-shadow: inset 0px 0px 0 100px white;
  color: black;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#golden-bracelet:hover + label {
  box-shadow: inset 0px 0px 0 100px #796525;
  color: black;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#white-bracelet:checked + label {
  background: white;
  color: black;
}

#eshop .content #bracelets .items-details form .bracelet-color-selection-container .select-color-buttons input#golden-bracelet:checked + label {
  color: black;
  background: #796525;
}

#eshop .content #keyholder .item-image {
  animation: keyholderAnimation 10s infinite;
  background-image: url(/assets/img/eshop/portachiavi-rosso-aliencut.png);
  aspect-ratio: 1;
  background-size: cover;
  height: 300px;
}

#gallery .content {
  margin-right: 2rem;
}

#gallery .content .gallery-pictures {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 2rem 0;
}

#gallery .content .gallery-pictures .picture {
  position: relative;
  list-style: none;
  margin: 2rem;
  cursor: pointer;
}

#gallery .content .gallery-pictures .picture:nth-child(4) {
  order: -1;
}

#gallery .content .gallery-pictures .picture img {
  height: 20rem;
  transition: 0.3s;
}

#contacts svg {
  height: 100%;
  width: 5rem;
  position: relative;
  fill: var(--main-color);
  background-size: contain;
  margin-right: 5rem;
}

.reveal-number,
.reveal-form {
  cursor: pointer;
}

.reveal-number-text,
.reveal-form-text {
  font-size: 1.4rem;
  transition: 0.5s;
  white-space: nowrap;
}

.reveal-number-text-wrapper,
.reveal-form-text-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: 0.7s;
}

.form-segment-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-segment-wrapper .form-segment {
  flex-basis: 45%;
  box-sizing: content-box;
}

.form-segment-wrapper .form-segment label:after {
  box-shadow: inset 16rem 0px 1px #000000, inset -8px -20px 0px var(--main-color);
}

.form-segment {
  background: var(--transparent-dark);
  padding: 2rem;
  margin: 3px 0px;
  display: flex;
  flex-direction: column-reverse;
  opacity: 1;
  transition: 0.3s;
  border: 0.4rem solid transparent;
  position: relative;
}

.form-segment label {
  display: flex;
  color: var(--main-color);
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
  font-weight: 800;
  padding: 2px 5px;
  z-index: 1;
  font-size: 1.6rem;
}

.form-segment label:after {
  box-shadow: inset 16rem 0px 1px #000000, inset -8px -20px 0px var(--main-color);
  content: "";
  width: 110%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -115%;
  transform: skewX(-20deg);
  transition: 0.2s;
  z-index: -1;
}

.form-segment input,
.form-segment textarea {
  background: transparent;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid var(--sec-color-2);
  color: var(--sec-color);
  padding: 7px;
}

.form-segment input:focus,
.form-segment textarea:focus {
  outline: none;
}

.form-segment textarea {
  min-height: 150px;
  max-height: 335px;
  resize: vertical;
}

.form-segment input[type="submit"] {
  width: auto;
  padding: 20px 20%;
  margin: auto;
  border: 2px solid var(--main-color) !important;
  cursor: pointer;
  transition: 1s;
  font-family: play;
  font-weight: 800;
  color: var(--main-color);
}

.form-segment input[type="submit"]:hover {
  background: var(--main-color);
  color: #fff;
}

.form-segment:focus-within {
  opacity: 1;
  box-shadow: 0 0 10px var(--main-color), 0 0 30px var(--main-color), inset 0 0 10px var(--main-color), inset 0 0 30px var(--main-color);
  border: 0.4rem solid #fff;
}

.form-segment:focus-within label {
  color: var(--main-color);
}

.form-segment:focus-within label:after {
  left: -3%;
}

.form-extended {
  max-height: 170rem;
}

/*social buttons*/
#social {
  padding: 30px;
}

.follow-us {
  color: white;
  font-size: 2.9rem;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 400;
}

.follow-us:after {
  position: relative;
  top: 25px;
  border-left: 6px solid transparent;
  border-top: 6px solid white;
  border-right: 6px solid transparent;
  content: "";
  height: 0px;
  max-height: 0px;
  margin-left: 10px;
}

#social ul {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  transition: 1s;
  max-height: 300px;
  margin-top: 15px;
}

#social ul li a {
  display: flex;
  cursor: pointer;
  width: auto;
  list-style-type: none;
  margin: 10px 0;
  justify-content: end;
  flex-direction: row-reverse;
}

#social ul li a p {
  font-size: 1.7rem;
  margin-right: 20px;
  align-self: center;
}

#social ul li a p:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -6px;
  left: -2px;
  width: 100%;
  height: 5px;
  transform: skew(-35deg) scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

#social ul li a:hover p:after {
  background: #eeee;
  z-index: -1;
  transform: skew(-35deg) scaleX(1);
}

#social ul li a img {
  height: 30px;
}

.pulse:hover,
.next-event,
.contact-container:hover {
  animation: 5.5s pulse infinite;
}

.pulse:hover .location-wrapper .location-container,
.next-event .location-wrapper .location-container,
.contact-container:hover .location-wrapper .location-container {
  animation: next-event 10s infinite;
}

.pulse:hover .location-wrapper .location-container:before,
.next-event .location-wrapper .location-container:before,
.contact-container:hover .location-wrapper .location-container:before {
  content: "Prossimo evento";
  color: var(--sec-color);
  display: block;
  font-weight: 800;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  padding: 0.2rem 0.3rem;
  overflow: hidden;
  top: -80%;
  animation: box-shadow-flash 10s infinite;
}

/* medium screen resolution */
@media only screen and (max-width: 1600px) {
  header .logo-pic {
    display: block;
    max-width: 20rem;
    padding: 0px;
  }
  .sidebar-item,
  .follow-us {
    font-size: 2.8rem;
  }
  .section-wrapper {
    min-height: 650px;
  }
  .follow-us:after {
    top: 17px;
  }
  div#social ul li p {
    margin-right: 10px;
  }
  div#social ul li img {
    height: 22px;
  }
  .sidebar-item {
    padding: 10px 15px;
  }
  #social {
    padding: 15px;
  }
  .event {
    width: 500px;
  }
  .event:nth-child(3n + 2) {
    left: 80px;
    transition-delay: 0.3s;
  }
  .event:nth-child(3n + 3) {
    left: 160px;
    transition-delay: 0.6s;
  }
  .date {
    font-size: 1.9rem;
  }
  .city {
    font-size: 1.9rem;
  }
  .location-wrapper {
    font-size: 2.5rem;
  }
  .content-wrapper:first-child {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1367px) {
  #news .section-name {
    top: 0px !important;
  }
  .content {
    margin: 0 3rem;
  }
  .section {
    top: -50px !important;
    font-size: 8rem;
    margin: 1rem 0;
    margin-bottom: 5rem;
  }
  .section-name-active {
    top: 0px !important;
    opacity: 1;
    box-shadow: inset 80px 0px 0px var(--main-color);
  }
  .section-wrapper {
    display: flex;
    margin: 3rem 0;
    flex-direction: row;
    justify-content: center;
    min-height: auto;
    max-height: fit-content;
    min-height: 80vh;
    padding: 8rem 0;
  }
  #events .events {
    max-height: 50rem;
  }
  #events .events:after {
    transform: rotate(-15deg) skew(-15deg) translate(-50%, 24%);
  }
  #events .events .event:nth-child(3n + 2) {
    left: 4rem;
    transition-delay: 0.3s;
  }
  #events .events .event:nth-child(3n + 3) {
    left: 8rem;
    transition-delay: 0.6s;
  }
  #events .events .event .date {
    font-size: 1.6rem;
  }
  #events .events .event .city {
    font-size: 1.6rem;
  }
  #events .events .event .location-wrapper {
    font-size: 2.7rem;
  }
  #events .slider-bar {
    margin: 30px auto;
  }
  .picture:last-child {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .section-wrapper {
    min-height: 60vh;
    flex-direction: column;
  }
  .section-name {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
  }
  .section-name {
    text-shadow: 0.7rem 0px var(--main-color);
    box-shadow: inset 10rem 0px 0px var(--main-color);
  }
  .sidebar-container {
    display: flex;
    position: fixed;
    top: 0;
    right: -30%;
    width: 25%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: var(--transparent-darker);
    font-size: 6rem;
    padding: 0;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
    pointer-events: none;
  }
  .sidebar-container .sidebar-logo {
    display: none;
  }
  .sidebar-container .sidebar-menu {
    width: 85%;
  }
  .sidebar-container .sidebar-menu .sidebar-item {
    font-size: 3.5rem;
  }
  .sidebar-container #social ul li p {
    font-size: 2.5rem;
  }
  .sidebar-active {
    right: 0;
    opacity: 1 !important;
    pointer-events: all;
  }
  .sidebar-active:before {
    content: "";
    width: 600%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -600%;
    background: var(--transparent-dark);
    z-index: -1;
  }
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background: var(--dark);
    top: 0;
    left: 0;
    padding: 4rem 6rem;
  }
  header .logo-container {
    animation: none;
    width: 20%;
    opacity: 1 !important;
    display: block !important;
  }
  header .logo-container .logo-pic {
    max-width: 15rem;
  }
  header .burger-menu-icon {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 30px;
    width: 30px;
    opacity: 1;
    cursor: pointer;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper {
    height: 100%;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper .burger-menu-icon-text {
    color: white;
    font-size: 2.3rem;
    position: absolute;
    left: -30px;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.7s;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper .lines {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper .lines .line {
    width: 70%;
    height: 2px;
    background: white;
    margin: auto 0;
    transition: 0.7s;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper .lines .line:nth-child(odd) {
    align-self: flex-start;
  }
  header .burger-menu-icon .burger-menu-icon-wrapper .lines .line:nth-child(even) {
    align-self: flex-end;
  }
  header .burger-menu-icon-open .burger-menu-icon-wrapper .burger-menu-icon-text {
    opacity: 0;
  }
  header .burger-menu-icon-open .burger-menu-icon-wrapper .lines .line:nth-child(even) {
    transform: translateX(-84%);
    background: var(--main-color);
    width: 130%;
  }
  .vertical-card {
    width: 100%;
  }
  .news-wrapper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 1000px;
  }
  .news-wrapper #news {
    width: 90%;
    margin: 0;
  }
  .news-wrapper #news .news-cta-icon img {
    transform: none;
  }
  .news-wrapper .color-picker-wrapper {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
    flex-direction: row;
  }
  .news-wrapper .color-picker-wrapper .color-option {
    width: 3rem;
    height: 100%;
    transform: skew(45deg);
    margin-right: 1rem;
    background: var(--color-option-1);
  }
  .news-wrapper .color-picker-wrapper .color-option:nth-child(2) {
    background: var(--color-option-2);
  }
  .news-wrapper .color-picker-wrapper .color-option:nth-child(3) {
    background: var(--color-option-3);
  }
  .news-wrapper .color-picker-wrapper .color-option:nth-child(4) {
    background: var(--color-option-4);
  }
  .news-wrapper .color-picker-wrapper .color-option:nth-child(5) {
    background: var(--color-option-5);
  }
  .news-wrapper .enter-website {
    margin: 7rem 0;
    align-self: center;
  }
  #contacts .content {
    align-items: center;
  }
}

@media (max-width: 800px) {
  html {
    font-size: calc(4px + 0.40834vw);
  }
  section {
    height: auto;
    max-width: 100vw;
  }
  #bgvid {
    transform: scale(3.5);
    top: 30%;
  }
  .content-container {
    flex-basis: auto;
  }
  .special-tracks {
    flex-direction: column;
    margin: auto;
    width: auto;
    max-width: 90%;
  }
  .special-tracks .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .special-tracks .input-wrapper label {
    margin-bottom: 0;
  }
  .special-tracks .icon-container {
    top: -13px;
  }
  .content {
    margin: 3rem auto;
    width: 90%;
    padding: 2rem;
  }
  .enter-website {
    position: relative;
    align-self: center;
    height: 15rem;
    padding: 2rem 6rem;
    max-height: 16rem;
    margin: 0 0 8rem 0;
  }
  .sidebar-container {
    width: 50%;
    opacity: 0;
  }
  .news-wrapper {
    flex-direction: column;
    height: auto;
    min-height: fit-content;
  }
  .news-wrapper #news {
    height: auto;
    margin-top: 0;
    width: 100%;
    position: relative;
    transform: scale(0.9);
  }
  .content .section-name {
    padding: 4rem;
    font-size: 5.5rem;
  }
  .content .news-main-content {
    flex-direction: column;
  }
  .content .news-main-content .news-image-container {
    width: 100%;
    margin: auto;
  }
  .content .news-main-content .news-details {
    flex-direction: row;
    margin-top: 30px;
    width: auto;
    margin-left: 0;
    flex-wrap: wrap;
  }
  .content .news-main-content .news-details a {
    width: 40%;
    margin-bottom: 2rem;
    padding: 2rem 2rem;
    box-sizing: content-box;
  }
  .content .news-main-content .news-details .news-cta-container {
    flex-direction: column;
  }
  .content .news-main-content .news-details .news-cta-container .news-cta-text-wrapper {
    white-space: nowrap;
    width: auto;
    height: auto;
  }
  .content .news-main-content .news-details .news-cta-container .news-cta-text-wrapper:after, .content .news-main-content .news-details .news-cta-container .news-cta-text-wrapper:before {
    display: none;
  }
  .content .news-main-content .news-details .news-cta-container .news-cta-text-wrapper .news-cta-text {
    font-size: 2.8rem;
  }
  .content .news-main-content .news-details .news-cta-container .news-cta-text-wrapper .news-cta-text p {
    font-size: 3.2rem;
  }
  #alien-tracklist .vertical-card {
    width: 100%;
  }
  .horizontal-card {
    width: auto;
  }
  .section-wrapper {
    height: auto;
    padding: 8rem 0;
  }
  .section-wrapper .content {
    margin: 0 auto;
  }
  #events .events {
    max-height: fit-content;
    margin: 1rem 0.5rem;
  }
  #events .events .event {
    justify-content: space-between;
    left: 0 !important;
    width: auto;
    margin: 0.8rem 1.5rem;
    max-width: 100%;
    opacity: 1 !important;
  }
  #events .events .event .location-wrapper {
    text-align: right;
  }
  #events .events .event .event-details {
    white-space: wrap;
    display: flex;
    flex-basis: 25%;
  }
  #events .events .event .event-details .city {
    white-space: initial;
  }
  #events .slider-bar {
    display: none;
  }
  #events .controller {
    display: none;
    pointer-events: none;
  }
  #eshop .content .category-container {
    flex-direction: column !important;
    margin: 1rem auto;
    width: 100%;
  }
  #eshop .content .category-container .items-images-wrapper {
    max-width: 60%;
    width: auto;
    margin: auto;
    justify-content: center;
  }
  #eshop .content .category-container .cta {
    width: 90%;
  }
  #eshop .content #accessories {
    flex-direction: column;
  }
  #eshop .content #bracelets .item,
  #eshop .content #bracelets .select-color-buttons,
  #eshop .content #bracelets .cta {
    width: 90%;
    margin: auto;
  }
  #eshop .content #bracelets .items-details {
    padding: 1rem;
  }
  #eshop .content #bracelets label {
    font-size: 2.2rem;
  }
  #eshop .content #bracelets img {
    width: 100%;
    max-width: 350px;
  }
  #eshop .content #keyholder {
    flex-direction: column;
  }
  #gallery .content {
    margin-right: auto;
  }
  #gallery .content .gallery-pictures {
    flex-direction: column;
  }
  #gallery .content .gallery-pictures .picture {
    margin: 2rem;
  }
  #gallery .content .gallery-pictures .picture img {
    height: auto;
    width: 100%;
  }
  #contacts .content {
    flex-direction: column;
  }
  #contacts .content .reveal-number-text,
  #contacts .content .reveal-form-text {
    font-size: 2.2rem;
  }
  #contacts .content .section-container-column {
    width: 100%;
  }
  #contacts .content form .form-segment-wrapper {
    flex-direction: column;
  }
  #contacts .content form label {
    font-size: 2.2rem;
  }
  #contacts .content form .contact-choice {
    width: 100%;
  }
  .ticket-details {
    padding: 4rem;
  }
}

@keyframes box-shadow-flash {
  0%,
  40%,
  60%,
  100% {
    box-shadow: inset 0px 0px var(--main-color);
  }
  42%,
  58% {
    box-shadow: inset 1000px 0px var(--main-color);
  }
}

@keyframes next-event {
  0%,
  25%,
  75%,
  100% {
    transform: translateY(0%);
  }
  35%,
  65% {
    transform: translateY(110%);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px var(--main-color);
  }
  45% {
    box-shadow: 0 0 0 15px #ff613800;
  }
}

@keyframes colorExplosion {
  0% {
    box-shadow: 0px 0px 10px 1px red;
  }
  100% {
    box-shadow: 0px 0px 1000px 1000px transparent, 0px 0px 10000px 10px var(--main-color);
  }
}

@keyframes blinker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-101%);
  }
  50%,
  100% {
    transform: translateX(101%);
  }
}

@keyframes colorChange-l2r {
  0% {
    background: linear-gradient(to right, var(--transparent-dark), var(--main-color));
  }
  50%,
  100% {
    background: linear-gradient(to right, var(--transparent-dark), var(--sec-color));
  }
}

@keyframes topToBottom {
  0%,
  30% {
    transform: translateY(-101%);
  }
  100% {
    transform: translateY(101%);
  }
}

@keyframes colorChange-t2b {
  0% {
    background: linear-gradient(to bottom, var(--transparent-dark), var(--main-color));
  }
  70%,
  100% {
    background: linear-gradient(to bottom, var(--transparent-dark), var(--sec-color));
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(101%);
  }
  50%,
  100% {
    transform: translateX(-101%);
  }
}

@keyframes bottomToTop {
  0%,
  30% {
    transform: translateY(101%);
  }
  100% {
    transform: translateY(-101%);
  }
}

@keyframes colorChange-r2l {
  0% {
    background: linear-gradient(to left, var(--transparent-dark), var(--sec-color));
  }
  50%,
  100% {
    background: linear-gradient(to left, var(--transparent-dark), var(--main-color));
  }
}

@keyframes colorChange-b2t {
  0% {
    background: linear-gradient(to top, var(--transparent-dark), var(--sec-color));
  }
  70%,
  100% {
    background: linear-gradient(to top, var(--transparent-dark), var(--main-color));
  }
}

@keyframes swing {
  0%,
  10%,
  90%,
  100% {
    transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-70deg);
  }
  50% {
    transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-110deg);
  }
}

@keyframes swing-off {
  0% {
    transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-90deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg) rotate(0deg) rotatey(0deg);
  }
}

@keyframes opacityFlash {
  0%,
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@keyframes download {
  0%,
  100% {
    bottom: -5px;
  }
  65% {
    bottom: 0;
  }
}

@keyframes keyholderAnimation {
  0%,
  100% {
    background-image: url(/assets/img/eshop/portachiavi-rosso-aliencut.png);
  }
  33% {
    background-image: url(/assets/img/eshop/portachiavi-verde-aliencut.png);
  }
  66% {
    background-image: url(/assets/img/eshop/portachiavi-blu-aliencut.png);
  }
}
