// color scheme
// $main-color: #a05031;

:root {
	--main-color: #ff5d5d;
	--sec-color: white;
	--dark: #0a0a0a;
	--transparent-dark: rgba(0, 0, 0, 0.4);
	--transparent-darker: rgba(0, 0, 0, 0.9);
	--dark-grey: rgba(47, 47, 47, 0.9);
	--sec-color-2: #6a6e7c;
	--color-option-1: #ff3b3b;
	--color-option-2: #ff6138;
	--color-option-3: #38ff59;
	--color-option-4: #3be4ff;
	--color-option-5: #0f7ea3;
	--color-option-6: #9656f5;
	--color-option-7: #ff006a;
}

$main-color: var(--main-color);
$sec-color: var(--sec-color);
$dark: var(--dark);
$transparent-dark: var(--transparent-dark);
$transparent-darker: var(--transparent-darker);
$dark-grey: var(--dark-grey);
$light-grey: var(--sec-color-2);
$color-option-1: var(--color-option-1);
$color-option-2: var(--color-option-2);
$color-option-3: var(--color-option-3);
$color-option-4: var(--color-option-4);
$color-option-5: var(--color-option-5);
$color-option-6: var(--color-option-6);
$color-option-7: var(--color-option-7);

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: "Play", sans-serif;
	background-color: $dark;
	&::-webkit-scrollbar {
		width: 8px;
		background-color: #2b2b2b;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $main-color;
	}
}
html {
	font-size: calc(4px + 0.30834vw);
}
header {
	position: fixed;
	z-index: 99999;
	left: 85px;
	top: 65px;
	.logo-container {
		cursor: pointer;
		filter: drop-shadow(0px 0px 0px $main-color);
		transition: filter 0.5s;
		img {
			max-width: 20rem;
		}
	}
	.burger-menu-icon {
		display: none;
	}
}
::selection {
	color: white;
	background: $main-color;
}
a,
p,
span {
	color: white;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
	color: #fff;
	margin: 0;
	padding: 10px;
}
h1 {
	font-size: 3.5rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.7rem;
}
h4 {
	font-size: 2.2rem;
}
h5 {
	font-size: 2rem;
}
label,
a,
p,
span {
	font-size: 2rem;
}
p {
	position: relative;
	margin: 0;
}
b {
	color: var(--main-color);
	font-size: 4rem;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.new-badge:after {
	content: "new";
	left: 10px;
	writing-mode: vertical-lr;
	position: absolute;
	font-size: 2rem;
	transform: rotate(-180deg);
	border-block-end: 5px var(--main-color) solid;
	padding: 0rem;
	animation: blinker 5s infinite;
}
.code-modal {
	.vertical-card {
		justify-self: center;
		align-self: center;
		margin: auto;
		width: auto;
		padding: 5rem 3rem;
		background: black;
		border: 1px solid var(--main-color);
		.cta-wrapper {
			display: flex;
		}
		.cta-button {
			width: auto;
			margin-top: 8rem;
		}
	}
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	opacity: 0;
	z-index: 99999;
	overflow: hidden;
	transition: all 0.7s, opacity 0.7s 0.2s;
	.backdrop {
		height: 100%;
		width: 100%;
		background: $transparent-darker;
		position: absolute;
		top: 0;
		left: 0;
	}
	.controller {
		position: absolute;
		top: 50%;
		transform: translate(50%, -50%);
		z-index: 2;
	}
	.close-button {
		position: absolute;
		width: 5rem;
		height: 5rem;
		background: $light-grey;
		top: 5rem;
		right: 5rem;
		z-index: 1;
		transition: 0.5s;
		cursor: pointer;
		&:hover {
			background: $main-color;
		}
		&:after,
		&:before {
			content: "";
			position: absolute;
			width: 0.2rem;
			height: 90%;
			left: 50%;
			background: white;
			transform-origin: center center;
		}
		&:before {
			transform: translate(-50%, 5%) rotate(-45deg);
		}
		&:after {
			transform: translate(-50%, 5%) rotate(45deg);
		}
	}
	.previous {
		left: -12rem;
		opacity: 1;
		pointer-events: all;
	}
	.next {
		transform: rotate(180deg) translate(50%, 50%);
		right: -12rem;
	}
	.carousel {
		box-sizing: content-box;
		width: 70%;
		margin: auto;
		height: 70%;
		background-color: $transparent-dark;
		display: flex;
		img {
			transition: opacity 0.9s 0.5s,
				transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99) 1.4s,
				left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.5s;
			position: absolute;
			max-width: 100%;
			top: 50%;
			height: 100%;
			transform: translate(-50%, -50%) scale(0.7);
			z-index: 1;
			opacity: 0;
		}
		.from-left {
			left: -150%;
		}
		.from-right {
			left: 150%;
		}
		.slide-in {
			opacity: 1;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
		}
		.slide-out-from-right {
			opacity: 0;
			transform: translate(-50%, -50%) scale(0.7);
			left: -150%;
			z-index: 2;
			transition: opacity 0.9s 0.9s,
				transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99),
				left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.7s;
		}
		.slide-out-from-left {
			opacity: 0;
			transform: translate(-50%, -50%) scale(0.7);
			left: 150%;
			z-index: 2;
			transition: opacity 0.9s 0.9s,
				transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99),
				left 0.9s cubic-bezier(0.84, 0, 0.08, 0.99) 0.7s;
		}
	}
}
.first-mask,
.second-mask,
.third-mask {
	display: none !important;
	position: fixed;
	padding: 0 50px;
	height: 100vh;
	width: 100vw;
	z-index: 9999999;
	top: 0;
	left: 0;
	opacity: 1;
	transform: translateY(120%);
	transition: 1.3s cubic-bezier(0, 1, 1, 0) 0.2s;
}
.first-mask {
	transition-duration: 1.8s;
	background: $dark;
}
.second-mask {
	background: $main-color;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: white;
		font-size: 12rem;
		letter-spacing: 0rem;
		text-transform: uppercase;
		transform: rotate(0deg);
		transition: letter-spacing 1.2s cubic-bezier(0, 1, 1, 0) 0.5s;
		&:before,
		&:after {
			white-space: nowrap;
			font-size: inherit;
		}
		&:before {
			content: "<<<";
		}
		&:after {
			content: ">>>";
		}
	}
}
.third-mask {
	background: white;
	transition-duration: 1s;
	transition-delay: 0.7s;
}
.background {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 0;
	opacity: 1;
	-o-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	background: $dark-grey;
}
video {
	position: absolute;
	top: 50%;
	transition: 1s opacity;
	opacity: 0.1;
	width: 100%;
	transform: translateY(-50%);
}
.laser-animation-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	align-self: flex-end;
	justify-self: center;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5rem;
	z-index: 1;
	span {
		position: absolute;
	}
	span:nth-child(1) {
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		animation: leftToRight 5s ease-in infinite,
			colorChange-l2r 10s ease-in infinite;
	}
	span:nth-child(2) {
		top: 0;
		right: 0;
		width: 2px;
		transform: translateY(-101%);
		height: 100%;
		animation: topToBottom 5s ease-in infinite,
			colorChange-t2b 10s ease-in infinite;
	}
	span:nth-child(3) {
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translateX(101%);
		height: 2px;
		animation: rightToLeft 5s ease-in infinite,
			colorChange-r2l 10s ease-in infinite;
	}
	span:nth-child(4) {
		top: 0;
		left: 0;
		width: 2px;
		height: 100%;
		transform: translateY(101%);
		animation: bottomToTop 5s ease-in infinite,
			colorChange-b2t 10s ease-in infinite;
	}
}

.section-title {
	font-size: 5rem;
	text-transform: uppercase;
	animation: 5.5s pulse infinite;
	padding: 1rem 3rem;
	text-align: center;
}
.section-subtitle {
	font-size: 2.5rem;
	font-weight: 100;
	padding: 2rem;
	text-align: center;
	.medium-text {
		text-align: center;
		padding: 2rem;
		&:after {
			display: none;
		}
	}
}
.main-container {
	display: flex;
	display: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
	opacity: 0;
	transition: 0.5s;
	flex-direction: row;
	flex: 1;
	justify-content: space-around;
}
.website-active {
	display: flex;
	opacity: 1;
}
.sidebar-container {
	display: flex;
	position: sticky;
	box-sizing: border-box;
	top: 0px;
	height: 100vh;
	z-index: 9999;
	flex-direction: column;
	transition: 0.7s;
	min-height: 500px;
	justify-content: center;
	margin-left: 1rem;
	text-align: right;
	flex-basis: 16%;
	background: $transparent-dark;
	min-width: 25rem;
}
.sidebar-logo {
	margin: 5rem;
	margin-bottom: 3rem;
	opacity: 0;
	transition: 0.3s 0.1s;
	cursor: pointer;
	img {
		width: 100%;
	}
}
.sidebar-item {
	position: relative;
	border: 4px solid transparent;
	font-size: 3.2rem;
	text-decoration: none;
	color: #fff;
	z-index: 1;
	padding: 1.5rem 3rem;
	transition: 0.3s all;
	white-space: nowrap;
	cursor: pointer;
}
.neon:hover {
	box-shadow: 0 0 10px $main-color, 0 0 30px $main-color,
		inset 0 0 10px $main-color, inset 0 0 30px $main-color;
	border: 4px solid #fff;
}
.selector-active {
	box-shadow: 0 0 10px $main-color, 0 0 30px $main-color,
		inset 0 0 10px $main-color, inset 0 0 30px $main-color;
	border: 4px solid #fff;
}

/* CONTENT */

.content-container {
	display: inline-block;
	position: relative;
	flex-basis: 80%;
}
.section-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	padding: 50px 0;
	min-height: 80vh;
	background: $transparent-dark;
	transition: 0.5s;
	margin: 50px 20px;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 99vw;
}
.section-wrapper:last-child {
	margin-bottom: 50px;
}
.section-name {
	display: flex;
	position: relative;
	writing-mode: vertical-lr;
	top: 50px;
	color: white;
	padding: 1rem 2rem;
	margin-block: 5rem;
	max-width: 330px;
	font-size: 9rem;
	transform: rotate(-180deg);
	justify-self: center;
	align-self: center;
	text-shadow: 0px 1px transparent;
	transition: 0.5s top ease-out, 0.9s opacity ease-in 0s,
		0.5s ease-out box-shadow 0.4s, text-shadow 0.5s 0.8s;
	white-space: nowrap;
	opacity: 0;
	z-index: 1;
}
.section-name-active {
	top: 0px;
	opacity: 1;
	text-shadow: 0px 7px $main-color;
	box-shadow: inset 0px 9rem 0px $main-color;
}
.content {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	margin-right: 3%;
	flex-basis: 85%;
	max-width: 95vw;
}
.section-container-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
	gap: 2rem;
}
.section-container-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.vertical-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: white;
	font-size: 3.3rem;
	background: var(--transparent-dark);
	padding: 4rem 0rem;
	transition: 0.5s;
}
#alien-tracklist .vertical-card {
	width: calc(50% - 1rem);
}
.horizontal-card {
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 3.3rem;
	background: var(--transparent-dark);
	padding: 4rem;
	margin: 1rem 0;
	align-items: center;
	transition: 0.5s;
}
.card-column {
	padding: 2.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	max-width: 100%;
}
.main-detail {
	border-bottom: 3px solid var(--main-color);
	z-index: 0;
	min-width: 50%;
}
.big-text {
	font-size: 6rem;
	text-transform: capitalize;
	&:after {
		content: "";
		background: var(--main-color);
		height: 8rem;
		width: 112%;
		top: 122%;
		position: absolute;
		left: 40%;
		z-index: 0;
		transform: skew(-45deg);
	}
}
.medium-text {
	font-size: 3rem;
	text-align: left;
}
.small-text {
	font-size: 2.3rem;
	margin: 1rem 0 1rem 2rem;
}
.x-small-text {
	font-size: 1.3rem;
	margin: 1rem 0 1rem 2rem;
}
.accent-text {
	color: var(--main-color);
	font-weight: 800;
}
.track-container {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1rem;
	&:before {
		content: "";
		position: absolute;
		background: var(--main-color);
		margin-right: 1rem;
		text-align: center;
		width: 1rem;
		height: 1rem;
		display: inline-block;
	}
}
.track {
	text-overflow: ellipsis;
	overflow: hidden;
	flex-wrap: nowrap;
	white-space: nowrap;
	transition: 1.5s;
	&:hover {
		overflow: inherit;
		text-overflow: initial;
		text-indent: -30%;
	}
}
.cta-button {
	padding: 2rem 5rem;
	margin: 2.5rem auto;
	border: 2px solid $main-color !important;
	cursor: pointer;
	transition: 1s;
	font-family: play;
	font-weight: 800;
	color: $main-color;
	background: $dark;
	font-size: 3.2rem;
	white-space: nowrap;
	outline: none;
	width: 100%;
	text-align: center;
	&:hover {
		background: $main-color;
		color: #fff;
	}
}
.main-color {
	color: var(--main-color);
}
.secondary-detail {
	color: var(--sec-color-2);
}
.opacity-flash {
	animation: opacityFlash 1.5s;
}
.controller {
	height: 7.5rem;
	width: 7.5rem;
	opacity: 1;
	transition: 0.5s;
	cursor: pointer;
}
.previous {
	opacity: 0.3;
	pointer-events: none;
}
.next {
	transform: rotate(180deg);
}
.controller svg {
	width: 100%;
	height: 100%;
	transition: 0.5s;
	fill: $light-grey;
}
.controller svg use {
	fill: inherit;
}
.controller:hover svg {
	transform: scale(1.4);
	fill: $main-color;
}
.news-wrapper {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: $transparent-dark;
	transition: 0.5s;
	min-height: 100vh;
	#news {
		position: relative;
		width: 80%;
		margin: 8rem 0;
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			background: url(../img/news/musica-che-sposta-2.jpg);
			background-size: cover;
			background-origin: border-box;
			background-clip: border-box;
			z-index: 0;
			opacity: 0.1;
			background-position: 0 10%;
			top: 0;
			background-repeat: no-repeat;
		}
		.content {
			.news-details {
				width: 40%;
				margin-left: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
			margin-top: 0;
			align-items: center;
			align-content: space-between;
			z-index: 1;
			.news-main-content {
				display: flex;
				flex-direction: row;
				align-content: space-around;
				width: 100%;
				margin: 2rem 0;
				.news-image-container {
					width: 50%;
					img {
						width: 100%;
					}
				}

				.news-cta-container {
					display: -webkit-box;
					display: -ms-flexbox;
					overflow: hidden;
					display: flex;
					color: white;
					font-size: 3.3rem;
					background: $transparent-dark;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					transition: 0.5s;
					cursor: pointer;
					padding: 1rem;
					flex-direction: row;
					&:hover .news-cta-text-wrapper:after {
						left: -1.5rem;
						transition: 0.5s 0.3s;
					}
					&:hover .news-cta-text-wrapper:before {
						transition: 0.5s;
						left: -4rem;
						box-shadow: -5px 10px 0px 0 white;
					}
					.news-cta-icon {
						display: flex;
						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							padding: 2rem;
							max-width: 10rem;
							transition: 0.5s;
							// transform: translate(20px) scale(2.1) rotate(-15deg)
							//   skew(8deg, -6deg);
						}
					}
					.news-cta-text-wrapper {
						height: 100%;
						width: 60%;
						&:after {
							content: "";
							height: 301%;
							width: 500%;
							position: absolute;
							background: #222222;
							-webkit-transform: skew(-25deg);
							transform: skew(-25deg);
							top: -36px;
							left: 0px;
							-webkit-transition: 0.5s;
							transition: 0.5s 0.3s;
							z-index: 0;
						}
						&:before {
							content: "";
							height: 300%;
							width: 20px;
							background: $main-color;
							position: absolute;
							transform: skew(-25deg);
							left: -20px;
							transition: 0.5s;
						}
						&:hover:after {
							left: -15px;
							transition: 0.5s 0.3s;
						}
						&:hover:before {
							transition: 0.5s;
							left: -40px;
							box-shadow: -5px 10px 0px 0 white;
						}
						.news-cta-text {
							color: white;
							position: relative;
							padding: 1rem 2rem;
							font-size: 1.8rem;
							width: 100%;
							white-space: nowrap;
							text-align: right;
							flex-direction: column;
							z-index: 2;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							p {
								font-size: 2.2rem;
								font-weight: 800;
								white-space: nowrap;
								color: $main-color;
							}
						}
					}
				}
			}
		}
	}
}
.special-tracks {
	padding: 3rem 1rem;
	margin: 2rem 0;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-self: flex-start;
	width: 70%;
	p {
		padding: 2rem;
	}
}
#news .content .special-tracks .news-details {
	flex-direction: row;
	width: 100%;
	margin-left: 0;
	.form-segment {
		flex-direction: row;
		.input-wrapper {
			overflow: hidden;
		}
	}
}
.icon-container {
	top: 0px;
	&:after {
		content: "";
		width: 70%;
		height: 3px;
		background: var(--sec-color);
		position: absolute;
		left: 10px;
		bottom: -5px;
		transition: 0.4s;
	}
	&:hover:after {
		background: var(--main-color);
	}
	svg {
		transform: scale(1) rotate(-90deg) rotateX(-150deg);
		fill: var(--sec-color);
		animation: download 2s infinite linear;
	}
	&:hover svg {
		fill: var(--main-color);
		transform: scale(1.5) rotate(-90deg) rotateX(-150deg);
	}
}
.info-text {
	display: flex;
	flex-direction: column;
}
#events {
	.slider {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.slider-bar {
		display: flex;
		position: relative;
		width: 60%;
		margin: 5rem auto;
		border-radius: 10px;
		height: 3px;
		flex-direction: row;
	}
	.slider-slot {
		display: flex;
		height: 100%;
		box-sizing: border-box;
		flex: 1;
		margin: 0 3px;
		border-radius: 20px;
		cursor: pointer;
		background: $dark-grey;
		&:hover {
			background: $main-color;
			filter: grayscale(1);
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			height: 50px;
			width: 100%;
			transform: translateY(-50%);
		}
		&:nth-child(2) {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.slider-pod {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 20px;
		transition: 1.6s ease-in-out;
		background: $main-color;
		z-index: 1;
		.period {
			.year,
			.months {
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				font-size: 1.9rem;
				width: auto;
				white-space: nowrap;
			}
			.year {
				top: 0.7rem;
				color: $main-color;
			}
			.months {
				top: -2.8rem;
				color: white;
				text-transform: capitalize;
			}
		}
	}
	.events {
		display: flex;
		position: relative;
		flex-direction: column;
		flex: 1;
		margin: 1rem 2rem;
		max-height: 55rem;
		overflow: hidden;
		flex-wrap: wrap;
		.event {
			display: flex;
			position: relative;
			width: 60rem;
			background: $transparent-dark;
			align-items: center;
			justify-items: center;
			margin: 1rem;
			transition-duration: 1s;
			transition-timing-function: cubic-bezier(0.78, -0.35, 0.51, 0.95);
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				background: $dark;
				margin-left: 2rem;
				z-index: -1;
				transform: translateX(100%);
				transition: 0.5s;
				opacity: 0.2;
			}
			&:nth-child(3n + 2) {
				left: 8rem;
				transition-delay: 0.3s;
			}
			&:nth-child(3n + 3) {
				left: 16rem;
				transition-delay: 0.6s;
			}
			.event-details {
				display: flex;
				flex-basis: 25%;
				flex-direction: row;
				align-items: center;
				padding: 1rem;
				justify-content: space-evenly;
				text-transform: capitalize;
				color: rgba(999, 999, 999, 0.8);
			}
			.date {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: rgba(999, 999, 999, 0.8);
				border-right: 3px solid $main-color;
				padding: 1rem;
				padding-right: 2.5rem;
			}
			.day {
				font-size: 5rem;
			}
			.month {
				font-size: 3rem;
				color: $light-grey;
			}
			.provincia {
				text-transform: uppercase;
			}
			.city {
				display: flex;
				justify-content: center;
				margin-left: 1.5rem;
				font-size: 1.9rem;
			}
			.city,
			.location,
			.date {
				text-transform: capitalize;
				text-align: center;
			}
		}
		.location-wrapper {
			font-size: 3rem;
			width: 100%;
			overflow: hidden;
			text-indent: 0.5rem;
			text-transform: uppercase;
			text-align: center;
			display: flex;
			justify-content: center;
			.location-container {
				justify-content: center;
				display: flex;
				flex-direction: column;
				text-align: center;
				padding: 2rem;
				* {
					padding: 0;
				}
			}
			.city * {
				color: var(--sec-color-2);
			}
			h3 {
				font-size: inherit;
			}
			span {
				color: $dark-grey;
			}
		}
		.cancelled {
			&:before {
				position: absolute;
				left: 0;
				content: "cancellato 💀 corona virus";
				background: $main-color;
				color: white;
				font-size: 3.5rem;
				animation: opacityFlash 10s infinite;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 9999999999999999;
				opacity: 1;
				text-transform: uppercase;
				padding: 0 2rem;
				box-sizing: border-box;
				white-space: nowrap;
				animation-delay: inherit;
			}
			.location-wrapper h3:after {
				content: "";
				position: absolute;
				background: $main-color;
				width: 100%;
				height: 3px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		.next-event .location-container span {
			color: $main-color;
		}
	}
}
/*e-shop section*/

#eshop .content {
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
	.items-details {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		.items-category {
			font-size: 6.4rem;
			text-align: center;
			white-space: nowrap;
		}
		form {
			text-align: center;
		}
	}
	a {
		display: inline-block;
		text-align: center;
	}
	.category-container {
		position: relative;
		display: flex;
		flex-direction: row;
		background: $transparent-dark;
		justify-content: space-around;
		padding: 5rem 0rem;
		margin: 2rem;
		overflow: hidden;
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		&:after {
			// content: "";
			position: absolute;
			top: -32rem;
			right: -38%;
			width: 90%;
			height: 220%;
			z-index: 0;
			opacity: 1;
			background: $main-color;
			transform: rotate(-10deg);
		}
		.items-images-wrapper,
		.items-details {
			z-index: 1;
			margin: 3rem 5rem;
		}
		.items-images-wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 45%;
			padding: 0 4rem;
			justify-content: center;
			.item-image {
				display: flex;
				position: relative;
				border-radius: 25px;
				box-sizing: border-box;
				justify-content: center;
				align-items: center;
				margin: 0 -5rem;
				img {
					max-width: 45rem;
					height: 22rem;
					transition: 0.5s 0.1s all, 0.9s filter;
				}
			}
		}
	}
	#bracelets {
		img {
			width: 70%;
		}
		.items-details {
			form {
				.bracelet-color-selection-container {
					display: block;
					margin-bottom: 2rem;
					.select-color-text {
						color: white;
						margin-bottom: 1rem;
						font-size: 2.2rem;
					}
					.select-color-buttons {
						display: flex;
						label {
							flex-basis: 50%;
							height: 4rem;
							line-height: 4rem;
							border: 1px solid;
							transition: 0.3s all, color 2s, box-shadow 2s;
							cursor: pointer;
						}
						input {
							display: none;
						}
						input#white-bracelet + label {
							border-color: white;
							color: white;
						}
						input#golden-bracelet + label {
							border-color: #796525;
							color: #796525;
						}
						input#white-bracelet:hover + label {
							box-shadow: inset 0px 0px 0 100px white;
							color: black;
						}
						input#golden-bracelet:hover + label {
							box-shadow: inset 0px 0px 0 100px #796525;
							color: black;
						}
						input#white-bracelet:checked + label {
							background: white;
							color: black;
						}
						input#golden-bracelet:checked + label {
							color: black;
							background: #796525;
						}
					}
				}
			}
		}
	}
	#keyholder {
		img {
			height: auto !important;
		}
	}
}

#gallery .content {
	margin-right: 2rem;
	.gallery-pictures {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		max-width: 100%;
		overflow: hidden;
		height: 100%;
		padding: 2rem 0;
		.picture {
			position: relative;
			list-style: none;
			margin: 1rem;
			cursor: pointer;
			// &:nth-child(1) {
			//   order: 1;
			// }
			// &:nth-child(2) {
			//   order: 6;
			// }
			// &:nth-child(3) {
			//   order: 3;
			// }
			&:nth-child(4) {
				order: -1;
			}
			// &:nth-child(5) {
			//   order: 2;
			// }
			// &:nth-child(6) {
			//   order: 4;
			// }
			// &:nth-child(7) {
			//   order: 7;
			// }
			// &:nth-child(8) {
			//   order: 8;
			// }
			// &:nth-child(9) {
			//   order: 9;
			// }
			img {
				height: 20rem;
				transition: 0.3s;
			}
		}
	}
}

#contacts {
	svg {
		height: 100%;
		width: 5rem;
		position: relative;
		fill: var(--main-color);
		background-size: contain;
		margin-right: 5rem;
	}
}
.reveal-number,
.reveal-form {
	cursor: pointer;
}
.reveal-number-text,
.reveal-form-text {
	font-size: 1.4rem;
	transition: 0.5s;
	white-space: nowrap;
}
.reveal-number-text-wrapper,
.reveal-form-text-wrapper {
	display: flex;
	flex-direction: column;
}
.contact-form {
	display: flex;
	flex-direction: column;
	max-height: 0;
	overflow: hidden;
	transition: 0.7s;
}
.form-segment-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	.form-segment {
		flex-basis: 45%;
		box-sizing: content-box;
		label {
			&:after {
				box-shadow: inset 16rem 0px 1px #000000,
					inset -8px -20px 0px $main-color;
			}
		}
	}
}

.form-segment {
	background: $transparent-dark;
	padding: 2rem;
	margin: 3px 0px;
	display: flex;
	flex-direction: column-reverse;
	opacity: 1;
	transition: 0.3s;
	border: 1px solid transparent;
	position: relative;

	label {
		color: $main-color;
		margin-bottom: 7px;
		position: relative;
		overflow: hidden;
		font-weight: 800;
		padding: 2px 5px;
		z-index: 1;
		&:after {
			box-shadow: inset 16rem 0px 1px #000000, inset -8px -20px 0px $main-color;
			content: "";
			width: 110%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -115%;
			transform: skewX(-20deg);
			transition: 0.2s;
			z-index: -1;
		}
	}
	input,
	textarea {
		background: transparent;
		font-size: 2rem;
		border: none;
		border-bottom: 1px solid $light-grey;
		color: #787878;
		padding: 7px;
		&:focus {
			outline: none;
		}
	}
	textarea {
		min-height: 150px;
		max-height: 335px;
		resize: vertical;
	}
	input[type="submit"] {
		width: auto;
		padding: 20px 20%;
		margin: auto;
		border: 2px solid $main-color !important;
		cursor: pointer;
		transition: 1s;
		font-family: play;
		font-weight: 800;
		color: $main-color;
		&:hover {
			background: $main-color;
			color: #fff;
		}
	}
}
.form-segment:focus-within {
	border: 1px solid $main-color;
	opacity: 1;
	label {
		color: $main-color;
	}
	label:after {
		left: -3%;
	}
}

.form-extended {
	max-height: 170rem;
}

/*social buttons*/

#social {
	padding: 30px;
}
.follow-us {
	color: white;
	font-size: 2.9rem;
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: 400;
}
.follow-us:after {
	position: relative;
	top: 25px;
	border-left: 6px solid transparent;
	border-top: 6px solid white;
	border-right: 6px solid transparent;
	content: "";
	height: 0px;
	max-height: 0px;
	margin-left: 10px;
}
#social ul {
	display: flex;
	position: relative;
	flex-direction: column;
	max-height: 0px;
	overflow: hidden;
	transition: 1s;
	max-height: 300px;
	margin-top: 15px;
	li a {
		display: flex;
		cursor: pointer;
		width: auto;
		list-style-type: none;
		margin: 10px 0;
		justify-content: end;
		flex-direction: row-reverse;
		p {
			font-size: 1.7rem;
			margin-right: 20px;
			align-self: center;
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				bottom: -6px;
				left: -2px;
				width: 100%;
				height: 5px;
				transform: skew(-35deg) scaleX(0);
				transform-origin: left;
				transition: 0.5s;
			}
		}
		&:hover p:after {
			background: #eeee;
			z-index: -1;
			transform: skew(-35deg) scaleX(1);
		}
		img {
			height: 30px;
		}
	}
}
.pulse:hover,
.next-event,
.contact-container:hover {
	animation: 5.5s pulse infinite;
	.location-wrapper {
		.location-container {
			animation: next-event 10s infinite;
			&:before {
				content: "Prossimo evento";
				color: var(--sec-color);
				display: block;
				font-weight: 800;
				width: 100%;
				position: absolute;
				white-space: nowrap;
				padding: 0.2rem 0.3rem;
				overflow: hidden;
				top: -100%;
				animation: box-shadow-flash 10s infinite;
			}
		}
	}
}

/* medium screen resolution */

@media only screen and (max-width: 1600px) {
	header {
		.logo-pic {
			display: block;
			max-width: 20rem;
			padding: 0px;
		}
	}
	.sidebar-item,
	.follow-us {
		font-size: 2.8rem;
	}
	.section-wrapper {
		min-height: 650px;
	}
	.follow-us:after {
		top: 17px;
	}
	div#social ul li p {
		margin-right: 10px;
	}
	div#social ul li img {
		height: 22px;
	}
	.sidebar-item {
		padding: 10px 15px;
	}
	#social {
		padding: 15px;
	}
	.event {
		width: 500px;
	}
	.event:nth-child(3n + 2) {
		left: 80px;
		transition-delay: 0.3s;
	}
	.event:nth-child(3n + 3) {
		left: 160px;
		transition-delay: 0.6s;
	}
	.date {
		font-size: 1.9rem;
	}

	.city {
		font-size: 1.9rem;
	}
	.location-wrapper {
		font-size: 2.5rem;
	}
	.content-wrapper:first-child {
		margin-top: 15px;
	}
}
@media only screen and (max-width: 1367px) {
	#news .section-name {
		top: 0px !important;
	}
	.content {
		margin: 0 3rem;
	}
	.section {
		top: -50px !important;
		font-size: 8rem;
		margin: 1rem 0;
		margin-bottom: 5rem;
	}
	.section-name-active {
		top: 0px !important;
		opacity: 1;
		box-shadow: inset 80px 0px 0px $main-color;
	}
	.section-wrapper {
		display: flex;
		margin: 3rem 0;
		flex-direction: row;
		justify-content: center;
		min-height: auto;
		max-height: fit-content;
		min-height: 80vh;
		padding: 8rem 0;
	}

	#events {
		.events {
			max-height: 50rem;
			&:after {
				transform: rotate(-15deg) skew(-15deg) translate(-50%, 24%);
			}
			.event {
				&:nth-child(3n + 2) {
					left: 4rem;
					transition-delay: 0.3s;
				}
				&:nth-child(3n + 3) {
					left: 8rem;
					transition-delay: 0.6s;
				}
				.date {
					font-size: 1.6rem;
				}
				.city {
					font-size: 1.6rem;
				}
				.location-wrapper {
					font-size: 2.7rem;
				}
			}
		}
		.slider-bar {
			margin: 30px auto;
		}
	}
	.picture:last-child {
		display: none;
	}
}
@media only screen and (max-width: 1280px) {
	.section-wrapper {
		min-height: 60vh;
		flex-direction: column;
	}
	.section-name {
		transform: rotate(0deg);
		writing-mode: horizontal-tb;
	}
	.section-name {
		text-shadow: 0.7rem 0px var(--main-color);
		box-shadow: inset 10rem 0px 0px var(--main-color);
	}
	.sidebar-container {
		display: flex;
		position: fixed;
		top: 0;
		right: -30%;
		width: 25%;
		margin: 0;
		justify-content: center;
		align-items: center;
		background: $transparent-darker;
		font-size: 6rem;
		padding: 0;
		justify-content: center;
		margin: auto;
		align-items: flex-end;
		pointer-events: none;
		.sidebar-logo {
			display: none;
		}
		.sidebar-menu {
			width: 85%;
			.sidebar-item {
				font-size: 3.5rem;
			}
		}
		#social ul li p {
			font-size: 2.5rem;
		}
	}
	.sidebar-active {
		right: 0;
		opacity: 1 !important;
		pointer-events: all;
		&:before {
			content: "";
			width: 600%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -600%;
			background: $transparent-dark;
			z-index: -1;
		}
	}
	header {
		position: sticky;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 70px;
		background: $dark;
		top: 0;
		left: 0;
		padding: 4rem 6rem;
		.logo-container {
			animation: none;
			width: 20%;
			opacity: 1 !important;
			display: block !important;
			.logo-pic {
				max-width: 15rem;
			}
		}
		.burger-menu-icon {
			display: flex;
			flex-direction: column;
			align-content: space-around;
			height: 30px;
			width: 30px;
			opacity: 1;
			cursor: pointer;
			.burger-menu-icon-wrapper {
				height: 100%;
				.burger-menu-icon-text {
					color: white;
					font-size: 2.3rem;
					position: absolute;
					left: -30px;
					top: 45%;
					transform: translate(-50%, -50%);
					opacity: 1;
					transition: 0.7s;
				}
				.lines {
					height: 100%;
					position: relative;
					display: flex;
					flex-direction: column;
					.line {
						width: 70%;
						height: 2px;
						background: white;
						margin: auto 0;
						transition: 0.7s;
						&:nth-child(odd) {
							align-self: flex-start;
						}
						&:nth-child(even) {
							align-self: flex-end;
						}
					}
				}
			}
		}
		.burger-menu-icon-open {
			.burger-menu-icon-wrapper {
				.burger-menu-icon-text {
					opacity: 0;
				}
				.lines {
					.line {
						&:nth-child(even) {
							transform: translateX(-84%);
							background: var(--main-color);
							width: 130%;
						}
					}
				}
			}
		}
	}
	.vertical-card {
		width: 100%;
	}
	.news-wrapper {
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		min-height: 1000px;
		#news {
			width: 90%;
			margin: 0;
			.news-cta-icon img {
				transform: none;
			}
		}
		.color-picker-wrapper {
			position: absolute;
			top: -30px;
			left: 0;
			display: flex;
			flex-direction: row;
			.color-option {
				width: 3rem;
				height: 100%;
				transform: skew(45deg);
				margin-right: 1rem;
				background: $color-option-1;
				&:nth-child(2) {
					background: $color-option-2;
				}
				&:nth-child(3) {
					background: $color-option-3;
				}
				&:nth-child(4) {
					background: $color-option-4;
				}
				&:nth-child(5) {
					background: $color-option-5;
				}
			}
		}
		.enter-website {
			margin: 7rem 0;
			align-self: center;
		}
	}
	#contacts .content {
		align-items: center;
	}
}
@media (max-width: 800px) {
	html {
		font-size: calc(4px + 0.40834vw);
	}
	section {
		height: auto;
		max-width: 100vw;
	}
	#bgvid {
		transform: scale(3.5);
		top: 30%;
	}
	.content-container {
		flex-basis: auto;
	}
	.special-tracks {
		flex-direction: column;
		margin: auto;
		width: auto;
		max-width: 90%;
		.input-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			label {
				margin-bottom: 0;
			}
		}
		.icon-container {
			top: -13px;
		}
		.x-small-text {
			font-size: 1.7rem;
		}
	}

	.content {
		margin: 3rem auto;
		width: 90%;
		padding: 2rem;
	}
	.enter-website {
		position: relative;
		align-self: center;
		height: 15rem;
		padding: 2rem 6rem;
		max-height: 16rem;
		margin: 0 0 8rem 0;
	}
	.sidebar-container {
		width: 50%;
		opacity: 0;
	}
	.news-wrapper {
		flex-direction: column;
		height: auto;
		min-height: fit-content;
		#news {
			height: auto;
			margin-top: 0;
			width: 100%;
			position: relative;
			transform: scale(0.9);
			.content {
				.section-name {
					padding: 4rem;
					font-size: 5.5rem;
				}
				.news-main-content {
					flex-direction: column;
					.news-image-container {
						width: 80%;
						margin: auto;
					}
					.news-details {
						flex-direction: row;
						margin-top: 30px;
						width: auto;
						margin-left: 0;
						flex-wrap: wrap;
						a {
							width: 40%;
							margin-bottom: 2rem;
							padding: 2rem 2rem;
							box-sizing: content-box;
						}
						.news-cta-container {
							flex-direction: column;
							.news-cta-text-wrapper {
								white-space: nowrap;
								width: auto;
								height: auto;
								&:after,
								&:before {
									display: none;
								}
								.news-cta-text {
									font-size: 2.8rem;
									p {
										font-size: 3.2rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	#alien-tracklist .vertical-card {
		width: 100%;
	}
	.horizontal-card {
		width: auto;
	}
	.section-wrapper {
		height: auto;
		padding: 8rem 0;
		.content {
			margin: 0 auto;
		}
	}
	#events {
		.events {
			max-height: fit-content;
			margin: 1rem 0.5rem;
			.event {
				justify-content: space-between;
				left: 0 !important;
				width: auto;
				margin: 0.8rem 1.5rem;
				max-width: 100%;
				opacity: 1 !important;
				.location-wrapper {
					text-align: right;
				}
				.event-details {
					white-space: wrap;
					display: flex;
					flex-basis: 25%;
					.city {
						white-space: initial;
					}
				}
			}
		}
		.slider-bar {
			display: none;
		}
		.controller {
			display: none;
			pointer-events: none;
		}
	}
	#eshop {
		.content {
			.category-container {
				flex-direction: column !important;
				margin: 1rem auto;
				width: 100%;
				.items-images-wrapper {
					max-width: 60%;
					width: auto;
					margin: auto;
					justify-content: center;
				}
				.cta {
					width: 90%;
				}
			}
			#accessories {
				flex-direction: column;
			}
			#bracelets {
				.item,
				.select-color-buttons,
				.cta {
					width: 90%;
					margin: auto;
				}
				.items-details {
					padding: 1rem;
				}
				label {
					font-size: 2.2rem;
				}
				img {
					width: 100%;
					max-width: 350px;
				}
			}
			#keyholder {
				flex-direction: column;
			}
		}
	}
	#gallery {
		.content {
			margin-right: auto;
			.gallery-pictures {
				flex-direction: column;
				.picture {
					margin: 2rem;
					img {
						height: auto;
						width: 100%;
					}
				}
			}
		}
	}

	#contacts .content {
		flex-direction: column;
		.reveal-number-text,
		.reveal-form-text {
			font-size: 2.2rem;
		}
		.contact-choice {
			width: 100%;
			form {
				.form-segment-wrapper {
					flex-direction: column;
				}
				label {
					font-size: 2.2rem;
				}
			}
		}
	}
}
// ANIMATIONS

@keyframes box-shadow-flash {
	0%,
	40%,
	60%,
	100% {
		box-shadow: inset 0px 0px $main-color;
	}
	42%,
	58% {
		box-shadow: inset 1000px 0px $main-color;
	}
}
@keyframes next-event {
	0%,
	25%,
	75%,
	100% {
		transform: translateY(0%);
	}
	35%,
	65% {
		transform: translateY(110%);
	}
}
@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0px $main-color;
	}
	45% {
		box-shadow: 0 0 0 15px #ff613800;
	}
}
@keyframes colorExplosion {
	0% {
		box-shadow: 0px 0px 10px 1px red;
	}
	100% {
		box-shadow: 0px 0px 1000px 1000px transparent,
			0px 0px 10000px 10px $main-color;
	}
}
@keyframes blinker {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
}
// Laser animation
@keyframes leftToRight {
	0% {
		transform: translateX(-101%);
	}
	50%,
	100% {
		transform: translateX(101%);
	}
}
@keyframes colorChange-l2r {
	0% {
		background: linear-gradient(to right, $transparent-dark, $main-color);
	}
	50%,
	100% {
		background: linear-gradient(to right, $transparent-dark, $sec-color);
	}
}
@keyframes topToBottom {
	0%,
	30% {
		transform: translateY(-101%);
	}
	100% {
		transform: translateY(101%);
	}
}
@keyframes colorChange-t2b {
	0% {
		background: linear-gradient(to bottom, $transparent-dark, $main-color);
	}
	70%,
	100% {
		background: linear-gradient(to bottom, $transparent-dark, $sec-color);
	}
}
@keyframes rightToLeft {
	0% {
		transform: translateX(101%);
	}
	50%,
	100% {
		transform: translateX(-101%);
	}
}
@keyframes bottomToTop {
	0%,
	30% {
		transform: translateY(101%);
	}
	100% {
		transform: translateY(-101%);
	}
}
@keyframes colorChange-r2l {
	0% {
		background: linear-gradient(to left, $transparent-dark, $sec-color);
	}
	50%,
	100% {
		background: linear-gradient(to left, $transparent-dark, $main-color);
	}
}
@keyframes colorChange-b2t {
	0% {
		background: linear-gradient(to top, $transparent-dark, $sec-color);
	}
	70%,
	100% {
		background: linear-gradient(to top, $transparent-dark, $main-color);
	}
}
@keyframes swing {
	0%,
	10%,
	90%,
	100% {
		transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-70deg);
	}
	50% {
		transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-110deg);
	}
}
@keyframes swing-off {
	0% {
		transform: rotate3d(0, -710, 192, -65deg) rotate(15deg) rotatey(-90deg);
	}
	100% {
		transform: rotate3d(0, 0, 0, 0deg) rotate(0deg) rotatey(0deg);
	}
}
@keyframes opacityFlash {
	0%,
	100% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
}
@keyframes download {
	0%,
	100% {
		bottom: -5px;
	}
	65% {
		bottom: 0;
	}
}
